[2021-10-18 03:17] wandersoncferreira opened #1 "Fix bug with outdated hunk"
[code]

[2021-10-20 03:23] wandersoncferreira opened #2 "Edit main feedback"

[2021-10-20 03:24] wandersoncferreira opened #3 "Edit regular comment"

[2021-10-20 03:24] wandersoncferreira opened #4 "Delete regular comment"

[2021-10-20 03:24] wandersoncferreira opened #5 "Review transient to better ergonomics"

[2021-10-20 03:24] wandersoncferreira opened #6 "Display the main body comment in the PR"

[2021-10-20 03:25] #6 closed, assigned to nobody

[2021-10-20 03:26] wandersoncferreira opened #7 "Make the faces feel good!"
- [ ] Define colors for local comments sections
- [ ] Improve regular comments
- [ ] Improve outdated section hunk
- [ ] Improve outdated section comment

[2021-10-20 03:27] wandersoncferreira opened #8 "README documentation with extension points"

[2021-10-20 03:27] wandersoncferreira opened #9 "Review file dependencies and melpa requirements"

[2021-10-20 03:28] wandersoncferreira opened #10 "Show deliberation status from other members"
This is nice! A way to see who approved, rejected, etc.

[2021-10-20 03:29] wandersoncferreira opened #11 "Review a commit on RET"

[2021-10-20 03:30] wandersoncferreira opened #12 "Able to set labels"

[2021-10-20 03:30] wandersoncferreira opened #13 "Able to set projects"

[2021-10-20 03:30] wandersoncferreira opened #14 "Move to draft"

[2021-10-20 03:31] wandersoncferreira opened #15 "Promote comments to new issues"
This is .. a must.. 🥇

[2021-10-20 03:31] wandersoncferreira opened #16 "Support markdown"
This will fix a couple of current weird issues:

- [ ] Support images
- [ ] Support quotation blocks

[2021-10-20 03:32] wandersoncferreira opened #17 "Identifier if the request is draft"

[2021-10-20 03:41] wandersoncferreira opened #18 "Proper re-use of open buffer after add comments"

[2021-10-21 01:55] #18 closed, assigned to nobody

[2021-10-21 01:55] #4 closed, assigned to nobody

[2021-10-21 01:55] #3 closed, assigned to nobody

[2021-10-21 02:12] #1 closed, assigned to nobody

[2021-10-21 02:38] wandersoncferreira opened #19 "Improve eieio class dispatch to new forges..."
Yeah, I did an extremely bad hack to get it to work so I could make calls to github using `cl-defmethod` ... but is worth rethinking the "how to build the correct type of obj (forge-dependent) to interact with the rest of the codebase"

[2021-10-21 03:21] wandersoncferreira opened #20 "New trick with magit-section to change everything :)"
WOW!

[code]

seems like `magit-section` is able to have keymaps dependent on context.. if you define the `magit-<name of your section>-section-map` variable then the package will remap it when the cursor is on top of that section O.o

- [x] Edit comments pressing RET on local-comments
- [x] Add comment pressing RET on hunk
- [x] Add reply comment pressing RET on comments
- [x] Add feedback on RET

[2021-10-21 20:23] wandersoncferreira opened #22 "Clean comment buffer before writing into it"

[2021-10-23 15:20] wandersoncferreira opened #23 "Rethink logic to add comments in large PRs"

[2021-10-23 16:21] #22 closed, assigned to nobody

[2021-10-24 03:12] #5 closed, assigned to nobody

[2021-10-24 03:12] #2 closed, assigned to nobody

[2021-10-25 14:33] #8 closed, assigned to nobody

[2021-10-25 14:33] #9 closed, assigned to nobody

[2021-10-25 21:07] #12 closed, assigned to nobody

[2021-10-26 00:38] #20 closed, assigned to nobody

[2021-10-26 01:30] wandersoncferreira opened #25 "Possible to differentiate the outdated `hunk` background color"
Currently, the outdated hunk has the same color as the valid hunk.

This is definitely not ideal...

[2021-10-26 15:36] wandersoncferreira opened #26 "If you are the author of a PR - enable edit some fields"
- [x] Edit PR title
- [x] Edit PR description

[2021-10-26 15:37] wandersoncferreira opened #27 "Merge PR"

[2021-10-27 01:11] #23 closed, assigned to nobody

[2021-10-27 02:57] #26 closed, assigned to nobody

[2021-10-28 00:39] wandersoncferreira opened #28 "Experience for Evil users"

[2021-10-28 00:39] wandersoncferreira opened #29 "Consider writing some specific integration with doom pop up system"

[2021-10-28 03:32] wandersoncferreira opened #30 "BUG - Review PR with deleted files"
The issue is in the `magit-diff-wash-diff` function used in an inner call. This will require some digging to understand why magit is able to correctly parse the diff in `magic-status` for example.

The regex used by magit didn't match the diff sent by GitHub. Perhaps magit does some pre-processing to fix some syntax.. let's find out!

[2021-10-28 14:27] #30 closed, assigned to nobody

[2021-10-28 14:27] #17 closed, assigned to nobody

[2021-10-28 15:32] wandersoncferreira opened #31 "Adding comments in the buffer is broken due to changes in PATH to fix deleted files"
#30 fix broke the logic to add comments in the buffer because magit is returning a new different string for a few places.. containing the prefixes. :/

[2021-10-28 15:43] #31 closed, assigned to nobody

[2021-10-28 15:46] wandersoncferreira opened #32 "Restrict the comments lines in N chars"
Currently the comment text spans the whole line.. we should be able to format to match a specified column number

[2021-10-28 20:13] wandersoncferreira opened #33 "Add timeouts to forge calls"
Sometimes the calls to the forge rest api hangs for a while.. configure a timeout value

[2021-10-29 01:51] wandersoncferreira opened #34 "Start outdated comment blocks folded"

[2021-10-29 01:52] wandersoncferreira opened #35 "Is it possible to LIKE a comment? :O"

[2021-10-29 01:58] wandersoncferreira opened #36 "Send replies seems to be duplicating msgs"

[2021-10-29 03:41] #36 closed, assigned to nobody

[2021-11-03 20:49] agzam opened #37 "CI Status"
This is probably the upstream That probably should be handled upstream - in Forge-Topic mode, it should show the status of CI checks. Nevertheless, I think it would be nice to show that info in the header of the `*Code Review*` buffer as well.

[2021-11-03 20:55] agzam opened #38 "Restrict approval"
Optionally, do not allow approving PRs with "non-green" CI status (related: #37);
The same for Draft PRs and PRs with selected labels (e.g., "WIP"). Perhaps a prompt asking if you're sure to approve something in an unreliable state?

[2021-11-06 04:35] wandersoncferreira commented on #37
Small demo of this functionality is available here https://github.com/wandersoncferreira/code-review/commit/5fd586ab2f0036bad6333b478dfdda761db54a3a:
![Screen Shot 2021-11-06 at 1 12 23 AM](https://user-images.githubusercontent.com/17708295/140597506-9bbe25e8-fac9-402a-8ddb-2d0d80a52254.png)

![Screen Shot 2021-11-06 at 1 12 01 AM](https://user-images.githubusercontent.com/17708295/140597507-cc7aa

[2021-11-07 18:03] wandersoncferreira commented on #34
Fixed https://github.com/wandersoncferreira/code-review/commit/e258ae48fff36216e0dded96512b69004e3bad49

[2021-11-07 18:03] #34 closed

[2021-11-07 18:49] wandersoncferreira commented on #32
Fixed https://github.com/wandersoncferreira/code-review/commit/b4dca9c3a932f3bb4a97468696a9f6f95069a0a1

[2021-11-07 18:49] #32 closed

[2021-11-08 03:59] wandersoncferreira opened #39 "Things I really like in `pr-review`"
This is a list of features from https://github.com/blahgeek/emacs-pr-review that I really liked and want to port here. Very nice work @blahgeek.

- [x] Add reviewer
- [x] Add datetime for each comment
- Comment faces are nicer
- Reply to threat / Resolve
- [x] Check status
- [x] Files changed section
- Mention using @
- [x] Single file for each query/action in the forge. In the context here create

[2021-11-08 05:13] agzam commented on #37
This is beautiful!

I don't know, I think you can just make it to open the relevant run in the browser window. Posframe buffers are cool, but do you really want to lose your mind, trying to satisfy both - GUI and terminal users?

[2021-11-12 12:42] wandersoncferreira opened #41 "Fix test suite"

[2021-11-12 15:52] #41 closed

[2021-11-12 18:01] wandersoncferreira commented on #35
Yes, it is now =)

[2021-11-12 18:01] #35 closed

[2021-11-13 01:08] agzam opened #43 "Large PRs"
Large PRs may make it look like Emacs is stuck and not loading. Often it just takes too long. Maybe a progress-reporter?

[2021-11-13 01:28] wandersoncferreira commented on #43
What do you mean by "Large PRs"? PRs with huge diffs? This is in fact a problem right now, I need to change the strategy to render the comments in order to speed up the rendering however I believe a more severe case of this issue will still remain. Github does not handle large diffs properly too:
![Screen Shot 2021-11-12 at 10 27 00 PM](https://user-images.githubusercontent.com/17708295/141600686-

[2021-11-13 01:41] agzam commented on #43
Even before rendering, I think it takes too long for PRs with big diffs to load.

[2021-11-13 01:55] wandersoncferreira commented on #43
I commented this line https://github.com/wandersoncferreira/code-review/blob/759f8a7eee7e2c49f6c3dadcad2e8ccb6f3bae27/code-review.el#L168 that triggers the rendering functions and the Python PR above was added in the buffer in less than 5seconds. The issue here is that `magit-wash-sequence` traverse the buffer line by line (in this case 66.6k lines) and verifies which `properties` each line should

[2021-11-13 02:27] wandersoncferreira commented on #43
I just tested `Magit-diff` stock without that additional call I mentioned above and the buffer was rendered in a few seconds without a problem. I will put some priority into this performance bottleneck :/

[2021-11-13 02:34] wandersoncferreira commented on #43
WOW!
![Screen Shot 2021-11-12 at 11 33 07 PM](https://user-images.githubusercontent.com/17708295/141602633-e08aa188-236b-4734-9bea-e6f93eeb98b6.png)

Investigating alternatives.. https://emacs.stackexchange.com/questions/3821/a-faster-method-to-obtain-line-number-at-pos-in-large-buffers

[2021-11-13 13:48] wandersoncferreira commented on #43
@agzam could you test the latest version of the package on the slow PR you had?
![Screen Shot 2021-11-13 at 10 47 33 AM](https://user-images.githubusercontent.com/17708295/141646240-bddb9187-f79a-4b64-8d14-d330e07a8c65.png)

This picture looks like what I was expecting for performance bottleneck.. calls to `closql` in hot path which can be improved a lot.

[2021-11-13 14:10] wandersoncferreira opened #44 "Save/Recover unfinished PR reviews"
All the PR data is stored in sqlite so should be easy to add two functions to save/resume a given PR.

[2021-11-16 22:53] agzam commented on #43
I think you've misunderstood. I wasn't talking about the performance, even though, of course, I love the improvements :).
I'm just saying: whenever it has to fetch a large PR, the UI does nothing, and there's no indication of anything happening. I have never done anything similar, but I think simply wrapping things in a progress-reporter block would show the progress in the mode-line: https://www.

[2021-11-17 00:48] wandersoncferreira commented on #43
@agzam I understood your point but I did a poor explaining on my intent afterwards rs. I wanted to speed up the load process so we do not need Progress Reports for larger diffs (to some definition of large) but the idea of a progress report is interestin. I did a hacky prototype of this feature in #47 . Do you mind testing with your large PRs and see how it looks like?

There are two progress repo

[2021-11-21 19:48] #44 closed

[2021-11-22 11:49] wandersoncferreira opened #48 "Support Gitlab"

[2021-11-22 16:28] ryanprior commented on #48
I'd be happy to help with this as well, please give me a ping @wandersoncferreira if you'd like to pair program or split up tasks.

[2021-11-22 17:18] wandersoncferreira commented on #48
Oh that's great!! Let's split up some tasks I can push my wip work and write some guidelines for what is missing, WDYT? @ryanprior

[2021-11-22 17:48] ryanprior commented on #48
Sounds good, I'll watch out for that info drop. I'd already done some research on the GitLab API because I'd kinda wanted to create this package for myself, will try and find those links again.

[2021-11-22 22:19] wandersoncferreira commented on #48
Ok, @ryanprior the current WIP is here https://github.com/wandersoncferreira/code-review/pull/50.

In the file `code-review-core.el` we have all the functions that needs to be implemented at `code-review-gitlab.el`. These are the segregation of concerns in my mind:

- [ ] [REQUIRED] `code-review-core-pullreq-infos` - Used in rendering
- [ ] [REQUIRED] `code-review-code-pullreq-diff`   - Used in re

[2021-11-23 12:35] ktfleming opened #51 "wrong-type-argument number-or-marker-p nil"
Hi, this package looks very cool! Trying it out on a test PR, I'm getting `wrong-type-argument number-or-marker-p nil` when calling `code-review-comment-add-or-edit` on a change. The full backtrace is

[code]

The PR that's causing the error is https://github.com/ktfleming/code-review-bug/pull/1. Specifically, calling `code-review-comment-add-or-edit` on the `test.txt` change/added file causes the

[2021-11-23 15:19] wandersoncferreira commented on #51
Thanks @ktfleming for reporting the bug and providing the steps to reproduce the error.

I was only able to reproduce the error if I had `toggle-debug-on-error` activated and the error seems to be unrelated to adding a comment and more on `Magit-section` and `Magit-diff` interaction under the cover. Could you verify if disabling the `toggle-debug-on-error` will make the code continue to work? I wi

[2021-11-23 20:07] #51 closed

[2021-11-23 20:08] wandersoncferreira commented on #51
@ktfleming please feel free to reopen this issue if the problem persist. Idk exactly how much time MELPA takes to update the package, but probably +3hrs or something like that.

[2021-11-23 23:32] ktfleming commented on #51
I can confirm that it works now, thanks for the quick fix!

[2021-11-23 23:42] ktfleming opened #54 "Every outdated comment must have a hunk! Error found for "nil""
Thanks for the help on #51! There was actually another issue I was seeing at the same time, but I held off on reporting it just in case it was perhaps the same underlying issue, but I'm still seeing it with the fix for #51 in place. This time, the PR that triggers the bug is at https://github.com/ktfleming/test/pull/15.

When I run `code-review-comment-add-or-edit` on the line `Adding something` (

[2021-11-24 01:46] #54 closed

[2021-11-24 03:30] ktfleming commented on #54
That fixed it, thanks again!

[2021-11-25 13:27] draxil opened #59 "Approve without commenting"
In our workflow we don't really leave a comment for uncontroversial PRs, and often the dialog is elsewhere.

As far as I can tell this package always forces me to leave a comment, even if it's the "LGTM" one.

I'd be happy if it were a similar "shortcut" to LGTM, "approve without comment" or whatever. But perhaps this is easy for me to achieve and I'm missing something obvious?

This package is fa

[2021-11-25 14:30] wandersoncferreira commented on #59
Thanks @draxil !

In fact I miss interpreted the Github behavior on this.. if you Approve the PR you can leave it without comment and if you Request Changes or Comment a PR you are required to give some feedback.

I saw this screen and I thought every case had the same behavior. Thanks for reporting!
<img width="1250" alt="Screen Shot 2021-11-25 at 11 28 55 AM" src="https://user-images.githubuserc

[2021-11-25 18:08] wandersoncferreira opened #60 "Improve code internal structure layout"

[2021-11-26 01:30] #59 closed

[2021-11-26 01:31] wandersoncferreira commented on #59
@draxil , it should be working as you expected now. Please let me know how it goes. Thanks again for reporting the issue.

[2021-11-26 03:41] seagle0128 opened #62 "Error in code-review-start"
I got this error while running `code-review-start`.
I am using Emacs 29.0.50 on macOS Monterey.

[code]

[2021-11-26 08:34] wandersoncferreira commented on #62
@seagle0128 is it possible to give more information about the issue e.g. the URL you sent to `code-review-start` and the stack trace of this error?

This looks like Github returned an error message with a different shape than expected in this package. Could you update the package to run latest version in MELPA and look at the log entry in `~/.emacs.d/code-review-error.log`?
I just updated the pack

[2021-11-26 11:44] wandersoncferreira opened #65 "Add option to Close PR"

[2021-11-26 19:05] seagle0128 commented on #62
I am using code-review-20211126.1005 on macOS.  The example URL is `https://github.com/wandersoncferreira/code-review/pull/50`. There is no stack trace, and only this meesage `Got an error from your VC provider. Check ‘code-review-log-file’.`

Only this error in `~/.emacs.d/code-review-error.log`.
[code]

[2021-11-26 20:24] draxil commented on #59
@wandersoncferreira Fantastic! Works great. Amazing response time on that ;)

[2021-11-27 10:14] hungpham2511 commented on #62
I have the same issue and turns out it's because I have not added the personal key in the authentication file.

The error message can be made more informative I think.

Checking the results for errors https://github.com/wandersoncferreira/code-review/blob/b8bb2394ad19a639d16a7960849ab7ddfc8eda78/code-review.el#L212 here should do it.

[2021-11-27 11:18] wandersoncferreira commented on #62
Thanks for the info @hungpham2511 , should be fixed now. @seagle0128 could you confirm that this fixes your error too?

[2021-11-27 18:29] seagle0128 commented on #62
Thank you! It's working. Closing it.

[2021-11-27 18:29] #62 closed

[2021-11-28 00:39] wandersoncferreira commented on #43
A naive progress report was added in the new release. I am closing this issue for now.

[2021-11-28 00:39] #43 closed

[2021-11-28 00:39] wandersoncferreira commented on #48
Basic Gitlab support was added with Release v0.0.2. I will be working on the remainder methods as user requests starts to pop up.

[2021-11-28 00:43] #19 closed

[2021-11-28 00:48] ryanprior commented on #48
This is great, I will be testing it out tomorrow & assuming all goes well, using it extensively. I'll investigate fixes & improvements as I have time. I spend ~10 hours a week reviewing code on GitLab and would love to move that entire workflow into Emacs. I'll also work on getting this package into Spacemacs once I understand it well enough.

[2021-11-28 02:18] wandersoncferreira opened #69 "Render comments using HTML"
Using `.bodyHTML` instead of `.body` for rendering comments allow us to view images in the comment sections.

[2021-11-28 10:05] elken commented on #28
Testing this in doom now; curious what evil bindings weren't working for you @agzam. ootb evil seems to work fine without your snippet.

[2021-11-28 10:08] elken commented on #28
Can confirm @agzam's snippet works fine. Will likely be refactored during review on doom's end though.

[2021-11-28 11:26] wandersoncferreira opened #70 "Basic support for Bitbucket"
This is the [Bitbucket Rest API](https://docs.atlassian.com/bitbucket-server/rest/7.18.1/bitbucket-rest.html) page that might be useful for us here.

EDIT: These are old APIs links...related to Bitbucket Server.

1. Get Pull request ID: https://docs.atlassian.com/bitbucket-server/rest/7.18.1/bitbucket-rest.html#idp302
2. Get Pull request diff: https://docs.atlassian.com/bitbucket-server/rest/7.18.

[2021-11-29 00:37] wandersoncferreira commented on #28
How is the best way to move forward to improve Evil experience for users of this package? Add these bindings automagically? README entry pointing out what can be done? PR to evil-collection package?

I have zero experience with `evil-mode` but I am willing to learn enough to make this less painful.

[2021-11-29 01:13] #29 closed

[2021-11-29 04:49] elken commented on #28
I was thinking about this myself when I was adding it, I think the best way would be to upstream to `evil-collection`.

As for what, most of what's defined in the magit map, anything that's relevant at least.

[2021-11-29 12:52] vlagorsse opened #72 "deferred error : (wrong-type-argument sequencep code-review--auth-token-set\?)"
**Describe the bug**
When starting code-review either from forge, either from an URL, I got this error message:
[code]
I'm not sure if this matters, I'm using gitlab. I checked my token, I think it is correctly set.

**To Reproduce**
Steps to reproduce the behavior:
1. Got the latest version from this morning
[code]
2. launch `code-review-forge-pr-at-point` from forge pull request list

**Desktop

[2021-11-29 14:16] wandersoncferreira commented on #72
Seems an error with the way `forge-at-point` is currently working. Not defined to gitlab repos.. :/ my bad.

However, can you try to call `M-x code-review-start https://gitlab.com/code-review-experiment/default/-/merge_requests/1` using this URL that is the repo in Gitlab I setup to make my tests.. I can't reproduce the issue from the URL.

I will be fixing the `forge-at-point` variant later today

[2021-11-29 14:59] ag91 commented on #72
`code-review-start` for github PRs, I get the same error if invoke `code-review-forge-pr-at-point` on a PR to a github repo

[2021-11-29 15:18] vlagorsse commented on #72
This time I got error like this:

[code]
I can't tell if my token is valid or not, even though I've setup one for
`forge` and it's working perfectly fine.

Le lun. 29 nov. 2021 à 15:59, ag91 ***@***.***> a écrit :

[2021-11-29 15:54] mplanchard commented on #72
For a GitHub repository, I get the same error as @vlagorsse when using `code-review-forge-pr-at-point`: `deferred error : (wrong-type-argument sequencep code-review--auth-token-set\?)`. In addition, this seems to hang emacs.

I also get the same error @vlagorsse  mentions error when trying to run `code-review-start` and inputting a (GitHub) URL for a PR: `deferred error : (wrong-type-argument sequ

[2021-11-29 19:28] wandersoncferreira commented on #72
I couldn't reproduce the exact same errors reported here, but I fixed the issue with `code-review-forge-pr-at-point`. Would be great if you could test it now and if the error continues go to your log file and see what is pasted there as error. It should be located at `code-review-log-file`  (by default inside your ~/.emacs.d folder)

[2021-11-29 19:31] mplanchard commented on #72
I'll give it a shot and report back, thanks!

[2021-11-29 19:36] mplanchard commented on #72
Okay, so the `(wrong-type-argument sequencep code-review--auth-token-set\?)` error is gone, and now I get the same error whether I start at-point or with a URL (below pasted from `*Messages*`:

[code]

I've got the following in my `~/.emacs.d/code-review-error.log`:

[code]

[2021-11-29 19:40] wandersoncferreira commented on #72
Thanks @mplanchard , could you tell me the value of this variable `code-review-utils--bin-dir` using `C-h v`. I think the strategy to find the `Graphql` file with the query to get the repo information from upstream is not being found.

[2021-11-29 19:43] mplanchard commented on #72
Sure, that value is currently set to `"/home/matthew/.emacs.d/.local/straight/build-29.0.50/code-review/"`

That directory contains mostly symlinks back to the checked out `code-review`:

[code]

[2021-11-29 19:44] mplanchard commented on #72
Looks like that `graphql` directory with those `graphql` files isn't being copied over by `straight`. I wonder if there's a way to tell it they should be brought over with the elisp files?

[2021-11-29 19:47] wandersoncferreira commented on #72
Yes, bingo!

The problem is the MELPA recipe that I created initially. From MELPA.

I will revert these changes for now and paste the queries in the Elisp file.

[2021-11-29 19:58] #72 closed

[2021-11-29 19:59] wandersoncferreira commented on #72
Please let me know if this will fix the issue! Feel free to reopen this if still wrong.

[2021-11-29 20:01] mplanchard commented on #72
Works now for me, both via `at-point` and `start`. Thanks for the awesome work and the quick response!

[2021-11-29 21:41] agzam commented on #28
I recently switched from Spacemacs to Doom. The snippet above works fine. I think it could be safely added directly into the `code-review` source; It just needs to be wrapped into `(with-eval-after-load 'evil-collection)` block.

Alternatively, it could be noted in the Readme, the snippet is small enough, Evil users can grab it and add in their configs.

[2021-11-30 00:47] wandersoncferreira opened #76 "Set title does not update the current buffer title"
**Describe the bug**
Using the set title command sends a request to GitHub to change the title of a PR. However, does not change the title inplace.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a PR
2. Push `r s t` and change the title

**Expected behavior**
The title in the review buffer should be updated too.

[2021-11-30 06:22] elken commented on #28
No doubt that it couldn't, but it would definitely be better to PR against `evil-collection`.

[2021-11-30 07:20] magthe opened #77 "Tighter connection with magit/forge?"
**Is your feature request related to a problem? Please describe.**
I was surprised to see that `code-review` seems to be completely separate from `magit`/`forge`. I can already work with PRs using `forge` so it'd be really nice if `code-review` hooked into that somehow, e.g. a key combo that, similar to `C-c Ce` (`magit-edit-thing`), let me start a review when looking at a PR.

**Describe alternat

[2021-11-30 08:15] vlagorsse commented on #72
Working for me, awesome support !

[2021-11-30 08:36] ktfleming commented on #77
Jumping in here just as another user, but maybe `code-review-forge-pr-at-point` is what you want? If you run that with point on a Forge PR in the magit-status buffer, it should start the code-review process without you needing to give it a URL.

[2021-11-30 08:43] ktfleming opened #79 "Transient menu key spacing"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a UI/consistency thing. In Forge, the keys for each command are displayed with a space between them, like this:

In code-review, there's no space, like this:

**Describe the solution you'd like**
I think that having a space between the keys in the transient menu would be more consistent with Forge, and also a bi

[2021-11-30 11:44] magthe commented on #77
Ah, yes, that seems to do what I want.

Now I just have to sort out the integration with evil so that not all key combos aren't shadowed by other things.

[2021-11-30 11:44] #77 closed

[2021-11-30 12:31] #79 closed

[2021-11-30 14:24] #15 closed

[2021-11-30 15:07] agzam commented on #28
@elken And what do you suggest this PR in evil-collection repo should offer? The above snippet "as is"? Because for 99% essential evil navigation in `code-review`, that's sufficient. I'm afraid they may say: "you can't cheat it like that for every package that's built on top of 'magit-section'"

[2021-11-30 15:21] agzam opened #87 "A way of opening binary files"
A lot of times PRs include files like pictures & videos, PDFs, etc. Would be nice if there was a way to retrieve them for examination.

[2021-11-30 16:21] agzam opened #88 "More context"
Sometimes, looking at a diff hunk, you wish there's more context around the change. Magit has `magit-diff-more-context`, and GitHub too - has a way of expanding a section. I wonder how difficult would it be to implement something like that in `code-review`? I guess it would require a custom-tailored GraphQL query and then some magic to update only the section at point.

[2021-11-30 16:58] rschmukler opened #89 "code-review-commit-at-point shows entire PR diff"
**Describe the bug**
When browsing a commit using `code-review-commit-at-point` the diff loaded into the buffer includes the same diff as found in the PR. It also does not include the `Files changed` header.

**To Reproduce**
1) Open a list of pull requests using `forge-list-pullreqs`
2) Open a multi-commit pull request using `code-review-forge-pr-at-point`
3) Move cursor over the first commit and

[2021-11-30 17:42] wandersoncferreira commented on #87
This is very useful, I have a local code that places the URL of the binary file like this:
<img width="922" alt="Screen Shot 2021-11-30 at 2 40 12 PM" src="https://user-images.githubusercontent.com/17708295/144099296-e61b787f-4455-4baa-b69e-887eae196007.png">

I have two URLs, the raw url in the screenshot will download the bin file to your computer and there is also a blob_url where you can visit

[2021-11-30 18:59] agzam commented on #87
If there's a record for the file extension in `auto-mode-alist` - I think the file would open in the appropriate mode - png, jpeg - in image-mode; pdf - in docview or pdf-view-mode (if pdf-tools installed).

Anything else - would open in fundamental-mode. IMO that's good already. If users want to open the file externally, I think that's the concern that lies somewhere else, not the feature that sh

[2021-12-01 05:47] Stebalien opened #91 "GitHub reviews are broken with the latest ghub package"
The latest ghub package uses `json-serialize` (instead of `json-encode`), if available. Unfortunately, `json-serialize` assumes that lisp "lists" are always objects and that JSON lists will be represented as vectors. This means that, for example, `code-review-core-send-review` fails because the comment "array" is stored as a lisp list, not an vector.

While this is technically a breaking change in

[2021-12-01 10:28] elken commented on #28
The same as any other package would.

And what's the haste? Getting the 100% is better than a "FIXME: later" snippet :)

It's not "cheating", it's a package that leverages magit but it is a distinct area that offers different functionality.

Before it's mentioned, I'm not even suggesting you or @wandersoncferreira do it, I'm happy to add it myself in the next week or so. Better to do something rig

[2021-12-01 11:38] wandersoncferreira commented on #87
@agzam merged. In the PR page there is an example of how it works (for both GitHub and gitlab)

[2021-12-01 19:05] agzam commented on #87
Nice. Doesn't seem to be working for PRs with merged and deleted branch.

[2021-12-01 20:40] wandersoncferreira commented on #87
Uhmm.. the URL to fetch the file is using the latest commit SHA in the PR. I believe if this commit is not present anymore then we will have an error e.g. squash/rebase merges, etc.

It is possible to make another request at load time to ask for all the files in a specific PR so Github/Gitlab can return something meaningful and I can use this information that is more reliable than assuming current

[2021-12-02 15:54] agzam opened #92 "Link to anything"
Very often, I need to store a URL to a comment in the review; a file; or refer to a specific line (or lines) in the code. How difficult would it be to add a function that allows you to copy/store/jump-to URL to specific objects in a review?

[2021-12-04 15:22] wandersoncferreira commented on #10
Done already

[2021-12-04 15:22] #10 closed

[2021-12-04 15:22] wandersoncferreira commented on #33
Not sure this is possible to be done!

[2021-12-04 15:22] #33 closed

[2021-12-04 17:00] bkchr opened #94 "Checkout the pr"
**Is your feature request related to a problem? Please describe.**

Hey would it be possible to check out the pr? So you not only see the diff, you can directly see all files of a project and browse the files etc. Maybe there could also be support at some point to only highlight the added changes in the checked out files.

[2021-12-05 01:43] wandersoncferreira commented on #94
hmm... You can also checkout the pr using `forge` (`forge-checkout-pullreq`) but I haven't looked closer enough to how improve integration with checkout yet. Could you tell more about your idea for "ideal" symbiosis between checkout & code review?

[2021-12-05 02:03] #16 closed

[2021-12-05 14:26] bkchr commented on #94
Ahh I did not know that yet! Ty will try.

However, without having tried that. My "ideal" workflow would be that `code-review` directly checks out the branch, then it shows all the files that are modified and gives you the ability to open them. Then you would see the diff inline in the file. You could then review the changes in the file "natively". From there you could also add comments and see ot

[2021-12-05 22:10] wandersoncferreira commented on #76
Cannot reproduce anymore!

[2021-12-05 22:10] #76 closed

[2021-12-06 14:12] thibautbenjamin opened #97 "Self maintained gitlab instances"
First of, I would like to thank you for this package, this is a feature I have been wanting for a very long time. I hope to see this package become widely used, and I will surely use it as much as I can.
However, I am having some trouble for setting it up for a project with is hosted on a self-maintained gitlab instance. I managed to set it for forge and successfully downloaded the issues and PR b

[2021-12-06 14:37] vlagorsse commented on #97
This looks like something close to the issue I reported some days ago: https://github.com/wandersoncferreira/code-review/issues/72

There was a release 0.0.3 containing fixes for this, I would suggest you to check the version of your package and share it here.

[2021-12-06 16:37] thibautbenjamin commented on #97
Thanks for the pointer. I don't think it is the same issue, I use the straight package manager and I just checked, I am having this issue on the most recent commit on master `commit 2d38f18b5224e1de645c18f4f3034b07fc7df2dc`

[2021-12-06 20:23] wandersoncferreira commented on #97
thanks for reporting the issue @thibautbenjamin , current version of the repo is not *totally* ready to support self-managed forges but its quite "easy" to fix, however I would like to discuss the issue further here:

1. the authentication issue should be fixed if you add a line like this in your authinfo:
[code]

2. I believe you should also do `(setq code-review-gitlab-host "git.server.com")`  a

[2021-12-06 20:31] #69 closed

[2021-12-06 22:18] wandersoncferreira commented on #89
Thanks for reporting @rschmukler . This feature was not entirely working before as tracked here https://github.com/wandersoncferreira/code-review/issues/11. I am planning to review this process soon.

[2021-12-07 02:39] wandersoncferreira commented on #37
@agzam took some time but I like the result:

![Screen Shot 2021-12-06 at 11 39 01 PM](https://user-images.githubusercontent.com/17708295/144956111-ce005879-eb8d-4117-a6f0-ef2cc8a0313d.png)

[2021-12-07 03:07] #37 closed

[2021-12-07 08:26] vlagorsse opened #99 "Cannot push my comments [Gitlab]"
**Describe the bug**
I'm using the version:
[code]
againt a gitlab repository.

It's maybe me that did not unsertood how to use this package, but I couldn't manage to push my local comment. I'm creating a comment, pressing RET to create it. Once it's done, I'm doing C-c C-c to push it.

It's not pushed on the server, I got no error message on \*Messages\*. Am I missing something ?

[2021-12-07 09:11] thibautbenjamin commented on #97
Thanks for your reply. It seems to be working with your workaround. I do not currently have any pending review, so I cannot really try it out now, but I will definitely try next time, and report if I encounter any further error.

I can make a PR adding a customization function to work with self-managed forges if you'd like. I imagine a way to handle them is to define a variable for storing the url

[2021-12-07 10:39] wandersoncferreira commented on #97
Nice! Great news.

Yes, please. IMO would be great if we could use the existing `code-review-*-host` variables instead of new ones, for example in the public Github this is not possible as the API URL starts as `api.github.com` while the PR URL starts with `github.com`. Perhaps we could have a plist mapping pr-url to host-url similar to `forge-alist` (https://github.com/magit/forge/blob/4f72688d80

[2021-12-07 21:50] #38 closed

[2021-12-08 00:15] #65 closed

[2021-12-08 00:16] #39 closed

[2021-12-08 12:14] wandersoncferreira opened #108 "fix rendering code comments with HTML in OUTDATED sections"
Seems like the render is not using the HTML insertion method.

[2021-12-08 12:19] wandersoncferreira opened #109 "Comments are added in the wrong position after a Review Outdated section"

[2021-12-08 13:11] wandersoncferreira opened #110 "Order conversation comments"

[2021-12-08 14:14] wandersoncferreira opened #112 "Add quote reply command"
Add quote reply command.

[2021-12-08 14:14] #109 closed

[2021-12-08 14:17] wandersoncferreira commented on #108
Fixed!

[2021-12-08 14:17] #108 closed

[2021-12-08 14:19] #110 closed

[2021-12-09 01:59] #60 closed

[2021-12-10 06:02] agzam commented on #28
@wandersoncferreira btw, setting up `k` (as default) in `code-review-feedback-section-map` perhaps wasn't a good choice. It took me awhile to understand what's happening. Scrolling with evil keys: `j/k` now differs from `C-n/C-p` and arrows. It jumps back to the beginning of the section all of a sudden.

[2021-12-10 06:13] agzam opened #115 "Browse files"
It would be great if we could leverage `magit-find-file` and be able to open any file within a PR.
Probably would require a check - repo may first require to perform `git fetch`.

[2021-12-10 06:26] agzam commented on #94
@bkchr It already shows the modified files, you already can see diff inline, the only thing is missing is the ability to "open files" see: #115. The functionality you're asking for already exists in Forge. As @wandersoncferreira pointed out, you can directly call `(forge-checkout-pullreq)` - it works both: in `forge-topic-mode` and in `code-review-mode`.

[2021-12-10 06:29] agzam opened #116 "Ediff integration for diffs"
Sometimes it's easier to review the diff in side-by-side mode. Would be nice if the package had integration with `magit-ediff-dwim`

[2021-12-10 19:19] drachul opened #117 "Unable to use code-review-forge-pr-at-point"
**Describe the bug**
I've configured code-review and my github enterprise account to make use of a personal access token.  The entry in the authinfo.gpg file is nearly a mirror of that for the forge one (except with ^code-review instead of ^forge, and with a different access token.)
If I open up the pull request list for a repository and try to run `M-x code-review-forge-pr-at-point` it just bring

[2021-12-11 11:05] wandersoncferreira commented on #117
@drachul can you try to change the value of `code-review-github-host` to match the one of your enterprise? The default value is`api.github.com` and thus the package will look for a `machine api.github.com login LOGIN^code-review password PWD` in the authinfo file. If your file is correctly configured you do have the enterprise host in there too so the package cannot find the auth.

The error messa

[2021-12-11 14:35] wandersoncferreira commented on #99
@vlagorsse once you type your comment on this buffer:
<img width="1440" alt="Screen Shot 2021-12-11 at 11 31 15 AM" src="https://user-images.githubusercontent.com/17708295/145680261-91b9a8f2-70fe-43a3-bb36-8c0a5fe2282e.png">

The `C-c C-c` command is going to include it locally only. You need to use the transient menu (by typing `r` in the code review buffer) to choose what to do next:

<img width

[2021-12-11 15:15] drachul commented on #117
Thank you for the info, I've set that variable but now I seem to get another error when I try to use `code-review-forge-pr-at-point`: `deferred error : (wrong-type-argument sequencep listp)`

I have the variable set as such: `(setq code-review-github-host "my.ghe.host/api/v3")` and this is the host I have defined in my authinfo file.

[2021-12-11 18:32] wandersoncferreira commented on #117
@drachul what is the log msg in the `~/.emacs.d/code-review-error.log` file?

[2021-12-11 19:10] #13 closed

[2021-12-11 19:41] drachul commented on #117
[code]

[2021-12-11 21:40] wandersoncferreira commented on #117
yeah, not useful. If you can bear with me to fix this I will be very happy bc I can't actually test the solution in an enterprise environment myself.

can you try to execute this code in your `*scratch*` buffer:

[code]

and fill in the appropriate values for your owner, repo-name and commit-sha. I want to eliminate the possibility that we are building the wrong URL to the enterprise server in ord

[2021-12-11 22:06] drachul commented on #117
Actually, I restarted my emacs client and now it seems to be working.  I'm not sure if something was cached incorrectly or what happened, but it seems to be working now?

To answer your question though, after running that bit (I assume with `M-x eval-buffer`? sorry I'm not very familiar with elisp) I get no output.

[2021-12-11 22:25] wandersoncferreira commented on #117
If it's working then the code above succeeded. Great news :) let me know if something else pops up. Can I close the issue?

[2021-12-11 22:26] drachul commented on #117
Yes it can be closed, thank you very much for the assistance and thanks for this package, I will get lots of use out of it! :)

[2021-12-11 22:28] #117 closed

[2021-12-11 22:30] #14 closed

[2021-12-12 00:16] Stebalien commented on #91
Fixed upstream.

[2021-12-12 00:16] #91 closed

[2021-12-12 10:51] #27 closed

[2021-12-12 17:50] isamert commented on #97
I'm on version 0.0.4 and this issue is still exists (for me). I properly set the variables `code-review-gitlab-host`, `code-review-gitlab-graphql-host` and I also put my credentials to authinfo as required but I'm still getting the following when I call `code-review-forge-pr-at-point`:

[code]

The file `~/.emacs.d/code-review-error.log` only contains this:
[code]

How can I debug this further? I'

[2021-12-13 12:17] muffinmad opened #123 "[GitLab] Support for project groups"
Hi!

Projects on GitLab can be organized into groups, e.g. MR URL can look like this
[code]

The `code-review-utils-pr-from-url` can't handle project groups. Evaluating
[code]
will result in
[code]
In this case `owner` shoud be `"owner"` and `repo` should be `"group%2Fsubgroup%2Fproject"`.

Thanks!

[2021-12-13 17:27] ieure opened #124 "Fails to start review: EmacSQL had an unhandled condition: "no such table: pullreq""
**Describe the bug**

I cannot use the package at all.

**To Reproduce**
Steps to reproduce the behavior:
1. `M-x code-review-start RET`
2. Enter any PR URL and press `RET`.
3. Nothing happens at all.

**Expected behavior**
Something should happen.

**Desktop (please complete the following information):**
 - OS: Debian Bullseye
 - Version: v0.0.4, (Nightly) GNU Emacs 29.0.50 (build 1, x86_64-pc-li

[2021-12-13 23:19] drachul opened #125 "No comments in review/unable to approve ('lgtm' shortcut)"
**Describe the bug**
When I perform a code review with a PR that has been opened (with `code-review-forge-pr-at-point`), the code review is opened (with diffs), no comments are seen in the PR (though there are many in the actual PR)

After trying to approve the PR with the shortcut `l` I get the message:

`PR have CI issues.  Do you want to proceed? (y or n)`

If I select `y`, I get the following

[2021-12-14 02:09] wandersoncferreira commented on #125
@drachul thanks for the detailed report, unfortunately I can't directly access an enterprise edition of Github right now but if you can help me find what is going on here I would be very happy.

1. If you do not see any comments but you see the diff this seems like an issue with `scopes`. Which scopes do you have setup?
2. `'properties/commit_id'` being nil could also be an issue with gathering da

[2021-12-14 02:42] wandersoncferreira commented on #124
@ieure I removed the `ignore-errors` from the codebase thanks for pointing it out.

Can you check the value of `code-review-db-database-file` variable in your installation? Also verify if the file in this path is not already created?

Another possibility is that `ignore-errors` also swallowed an error when the package tried to write the file to this path at the first time.

[2021-12-14 02:42] drachul commented on #125
For the access token I used for `code-review` I have all of `repo`, and `write:discussion` (which automatically enables `read:discussion` as well)

The url I've specified in the authinfo file is `<host>/api/v3`, but this is REST I believe and not GraphQL.  According to some docs I read the GraphQL API exists on `<host>/api/graphql`, however I'm not specifying this anywhere, should I be?

Thank you

[2021-12-14 03:24] drachul commented on #125
So I've set the `code-review-github-graphql-host` value, and it asked me to provide a username, so I did, but it's saying I need to setup a personal access token.  Do I need to create a separate authinfo entry for the code-review graphql?

[2021-12-14 03:28] wandersoncferreira commented on #125
Oh jeez.. `ghub` package makes a lookup in the `authinfo` file based on the host .. so if you have different hosts, it means different tokens :/

Could you make the additional setup to see if the main issue is gone? I need to look at this more close to find a way to avoid this duplication if possible.

[2021-12-14 03:43] drachul commented on #125
I created the extra entry in authinfo for the graphql host (though it seems I needed to specify `<host>/api` and not `<host>/api/graphql`, because something seemed to be adding `/graphql` on the end), and now I seem to be back where I was initially.  I can open the code review for the PR, but I still don't see any comments.

Just as a test, I created another test token, and enabled all of the scop

[2021-12-14 03:55] wandersoncferreira commented on #125
Can you setup the GraphQL explorer in your machine as informed here https://docs.github.com/en/enterprise-server@3.0/graphql/guides/using-the-explorer and execute this GraphQL query ?

[code]

(the same as the package does to get the comments from the PR..) this way we can remove all the emacs-related things away. Thank you for all this help troubleshooting this.

[2021-12-14 04:23] drachul commented on #125
Ok, I managed to get GraphiQL up and running, configured it with my token, and ran the query you gave me (with updates for my particular repo/PR) and it returns a large JSON-encoded string with a bunch of metadata including comments.

[2021-12-14 04:42] wandersoncferreira commented on #125
I'm running out of ideas for why you can't see the comments being rendered in the buffer. The data seems to be coming through as expected. Can you do a clean restart in emacs and try again? :/ also look at the value of `code-review-section-grouped-comments` through `C-h v`

[2021-12-14 05:09] drachul commented on #125
I've tried restarting a few times, no luck there.
The valued of the `code-review-section-grouped-comments` is `nil`.

I'll keep playing around with it and maybe I'll find something, perhaps it's some incompatibility with spacemacs.

[2021-12-14 08:22] drachul commented on #125
Well, I can confirm it has nothing to do with the spacemacs distribution I use, as I tried loading up a completely fresh emacs config with only installing magit, forge, code-review, and after getting it all configured, the code-review for the PR still do not show comments.

Just for my own curiosity I opened up the `code-review-db-file.sqlite` file and found that the `comment` table was empty (whe

[2021-12-14 12:01] wandersoncferreira commented on #123
@muffinmad I created a subgroup in my Gitlab account used for testing purpose and the URL structure is a little different:
https://gitlab.com/code-review-experiment/first-group/i-never-used-spring-hurray/-/merge_requests/1

We have "https://gitlab.com/owner/subgroup/project/-/merge_requests/1" the distinction between "group" and "subgroup" in your comment couldn't be verified. Navigating through t

[2021-12-14 12:11] wandersoncferreira commented on #125
I really appreciate your efforts on this @drachul . Unfortunately I can't dig deeper, but I can add more checks&invariants to try to throw the error and spot what is going on.

But if you feel yet more adventurous and want to debug the source code I can answer any question about the structure of the project. For instance, there is a giant GraphQL query that returns all these data that you are miss

[2021-12-14 12:15] muffinmad commented on #123
@wandersoncferreira I've leave a comment in your PR almost at the same time :)

According to [GitLab docs](https://docs.gitlab.com/ee/user/group/subgroups/) there can be up to 20 levels of subgroups. I propose to not limit the number of groups/subgroups in URL pattern.

IMO this should work:
[code]

[2021-12-14 12:16] wandersoncferreira commented on #123
Seems perfect to me, I will change the code and add some test cases.

[2021-12-14 12:30] #123 closed

[2021-12-14 12:30] wandersoncferreira commented on #123
@muffinmad please reopen if something else pops up! thanks for the review!

[2021-12-14 16:26] muffinmad commented on #123
@wandersoncferreira FYI checked this out and it works as expected. Thanks!

[2021-12-15 00:11] wandersoncferreira commented on #125
@drachul I added some logs with the received value from GitHub GraphQL API. could you try with the latest commit and see what gets logged in the `code-review-log-file`?

[2021-12-15 01:06] drachul commented on #125
Here's the contents of the `code-review-error.log`:

[code]

I tried running the graphql query shown here: https://github.com/wandersoncferreira/code-review/blob/1bae1441ebbb30398611bf450be81293a4cbfffe/code-review-github.el#L158 manually, but it gives some error from the server:

[code]

[2021-12-15 01:18] wandersoncferreira commented on #125
Hoho! Finally! thanks @drachul . If we compare the schemas defined for the enterprise 3.0 version here https://docs.github.com/en/enterprise-server@3.0/graphql/overview/public-schema and the free host version here https://docs.github.com/en/graphql/overview/public-schema we can see the differences in schema indeed!

Possible fixes:

1. Do not support any enterprise edition older than 3.3 and say t

[2021-12-15 01:50] drachul commented on #125
Given that this version of github enterprise seems to be slated for discontinuation in early 2022, I would say it's probably not worthwhile to really go out of your way to support the older services.

Hopefully my employer is planning to upgrade in the near future, and then I can go back to working with code-review :)

[2021-12-15 01:52] wandersoncferreira commented on #125
you should have said that 20 min ago.. I am merging the fix to support a fallback query. This might be very useful concept for the future of this package as there are multiple versions of the GraphQL that might have other nuances as this one.

[2021-12-15 01:53] wandersoncferreira commented on #125
if you can test the latest commit and report back how it goes will be great!

[2021-12-15 02:21] drachul commented on #125
Ok ran another code review and got: `Got an error from your VC provider.  Check 'code-review-log-file'`

Output of `code-review-error.log`
[code]

[2021-12-15 02:37] wandersoncferreira commented on #125
@drachul this seems to be a bug when the branch under review was already deleted. Is this the case? merge fixed to use `headRefOid` value which the graphql docs says:

[code]

[2021-12-15 02:46] drachul commented on #125
Ah yes, sorry I didn't think about that, this was a PR already merged that I just picked since it was a smaller PR (our git hooks automatically delete the branch once it's been merged.)

I just tried it with a different (active) PR and I can see comments now!

[2021-12-15 03:04] drachul commented on #125
Saw the update and re-tried with the merged PR that was failing before, and that works now!

[2021-12-15 03:08] wandersoncferreira commented on #125
Great, thank you for this long journey!

[2021-12-15 03:08] #125 closed

[2021-12-15 04:12] wandersoncferreira opened #133 "submit single code comment"
submit single code comment

[2021-12-15 20:06] vlagorsse commented on #99
Sorry for late answer from my side, I wanted to double check. Thank you for your very detailed answer.
I've got 2 things on this:

- Even though I'm setting a comment on some part of the code and then approve the PR, I still cannot see it on Gitlab, even though it seems everything went well:
[code]
- What if don't want to approve or reject the PR but just comment on the code ? Rejecting a PR is a

[2021-12-15 21:43] #133 closed

[2021-12-16 02:09] wandersoncferreira opened #136 "Support comments referring multiple lines"
We could select a region and call the add comment function, if the region is active we use the region to find `start_line` and `end_line` to comment.

[2021-12-16 02:18] wandersoncferreira opened #137 "Fix suggested changes in HTML rendering"
We have a bug rendering the Suggested Change block.

[2021-12-16 02:33] #137 closed

[2021-12-16 13:18] wandersoncferreira opened #140 "Support accept Suggested Change"
I still couldn't find an easy way through GitHub API to accept a Suggestion Change.

What seems to be the recommended way is to create an actual new commit through API which is very very bad because it requires a Base64 encoding of the whole file changed which would imply that we need to fetch & checkout the project in order to get the correct file to be able to use it.

Not ideal at all. If someo

[2021-12-16 13:37] wandersoncferreira opened #141 "Support delete comment"
Currently we only support deleting a *local comment* but would be great to support deleting comments that were already sent to Github/Gitlab.

- [ ] [GitHub GraphQL API] https://docs.github.com/pt/graphql/reference/mutations#deleteissuecomment
- [ ] [Gitlab] TBD

Basically the path through this would be to:

1. Create a `def-generic` function in `code-review-interfaces.el`
2. Implement the functio

[2021-12-16 13:38] wandersoncferreira commented on #141
@fuzzycode interested?

[2021-12-16 19:28] fuzzycode commented on #141
I think you might overestimate my elisp skills a bit. I tried to have a look at it but I think it is outside of what I will be able to contribute given the amount of time I have available.

It also appears a bit more complex than described as it would not make for good UX if there was 2 different functions, one for deleting local comments and one for deleting comments on GitHub/Gitlab and the user

[2021-12-16 19:42] wandersoncferreira commented on #141
Can be a good learning exercise as this feature is not critical =) but feel free to pass on.

`magit-section` does the dwim (sort of) under the cover. We have 2 different keymaps `code-review-comment-section-map` (for comments on Github/Gitlab) and `code-review-local-comment-section` (for comments only local) and we can bind the same key `C-c C-k` to two different functions and let Magit-section c

[2021-12-16 20:01] fuzzycode commented on #141
Ok, so from a user perspective if they were to rebind the deletion to an other key they would have to make sure to rebind both functions in two different maps to maintain the dwim functionality?

I don't think I fully understand the concept of local comments. Are they local while waiting to be published to github/gitlab or are they intended to remain local forever?

[2021-12-16 20:26] wandersoncferreira commented on #141
Yes, we can help and create a single function if you want to:

[code]

They are local while we wait to publish it. However, all the comments are stored in a sqlite database if you call `code-review-save-unfinished-review` you can flag a specific review in the sqlite database and then recover it later using `code-review-open-unfinished-review`. The local comments are restored too.

[2021-12-16 20:32] fuzzycode commented on #141
I don't think that I know enough to really have a strong opinion at this point, I am just trying to understand how all the things work and fit together :-)

I see, so the local part is just a cache of all things waiting to be published.

[2021-12-16 20:36] wandersoncferreira commented on #141
Yes, and this is very confusing because some commands do not work like this. For example, if you change the title of a PR does not make sense to have a "local title" and not change upstream immediately (or does it? idk).

So we have things that only change local db (but update the buffer) and other things that changes immediately (and update the buffer)

Basically if you look at the transient menu

[2021-12-16 20:42] fuzzycode commented on #141
This might be a stupid question or me missing something obvious but what are the reasons for not publishing comments immediately like fore example the title?

[2021-12-16 20:44] ieure commented on #124
It exists and is empty:

[code]

Seems to be the case.  I pulled v0.0.5, deleted the empty SQLite DB, and tried again.  This time, I get a new error:

    progn: Symbol’s function definition is void: closql--db-set-version

Which has this stack:

[code]

If I try again, I get the original error I reported.  Looks like a bug in closql?  I'm on the latest version, v1.2.0, commit 15f906c.

[2021-12-16 20:54] wandersoncferreira commented on #141
its not stupid at all, there are some points to consider:

1. if you start a review process in Github, usually you accumulate your comments and send it with the verdict of the review
2. its harder to mimic the behavior above sending comments directly because you need to send them as "Pending" and them later confirm all of them anyway
3. we avoid the rate limit issues of GitHub API if we send as li

[2021-12-16 21:05] wandersoncferreira commented on #124
if you jump to `closql` file do you find the function there to be implemented like the following?

[code]

I am asking because in a different branch of closql there is a different implementation that I am not sure if is compatible. I would also look for `.elc` files hanging around and removing them (or recompile)

[2021-12-16 21:59] ieure commented on #124
Yes, exactly the same.

Hmmm, I pulled some recent versions, did `straight-rebuild-all`, and restarted my session, and it works.

I don't like not knowing what was broken, but I'll close this issue, since it seems to be working now.  Thank you for the help.

[2021-12-16 21:59] #124 closed

[2021-12-17 02:26] wandersoncferreira commented on #116
Something like this?

![output-2021-12-16-23:22:33](https://user-images.githubusercontent.com/17708295/146478505-d5a44143-046e-41cb-b57c-f1d29a59c61c.gif)

few questions:
1. Seems like only `magit-ediff-compare` is useful for our context here
2. Using Ediff like this seems to solve the issue with getting more context in a review as we have the whole file now
3. Comments are only added in the `*cod

[2021-12-17 02:35] wandersoncferreira commented on #116
Adding the comments to the Ediff buffer (along with the code) or even making comments from there seems interesting ideas to explore too.

[2021-12-17 08:18] askurihin commented on #97
I, sadly, have a similar error as @isamert:

[code]
~/.emacs.d/code-review-error.log:

`Fri Dec 17 11:16:03 2021 - code-review--build-buffer - (wrong-type-argument listp wrong-number-of-arguments)`

Any debugging hints?

[2021-12-17 11:16] wandersoncferreira commented on #97
sorry @isamert I missed your answer here. @askurihin if you both enable `toggle-debug-on-error` does it show a stack trace?

[2021-12-17 12:18] askurihin commented on #97
Sadly, no, it does not show a stack trace :(

[code]

[2021-12-17 12:32] wandersoncferreira commented on #97
can you provide me more context about what you've done already @askurihin ? what values did you set for hosts, etc. (the pattern only not real value if its a problem to share)

[2021-12-17 12:45] wandersoncferreira commented on #97
@askurihin can you update your package to the latest commit and `(setq code-review-log-raw-request-responses t)` so you can see the raw queries from your vc provider? For now the only queries logged are the two main ones required to load the buffer initially.

I will add a page in the docs with the expected result so you can also compare yourself (should be possible to run an `Ediff` on both files

[2021-12-17 12:56] wandersoncferreira commented on #97
The sample response structure: https://github.com/wandersoncferreira/code-review/blob/master/docs/response_samples.md

[2021-12-17 20:01] agzam commented on #116
whoa, this looks very nice.

There's probably a way to grab the project-dir from the context of the forge-topic (I'll see if I can find anything).
There's also `magit-repository-directories` but it's a flat, nillable list of directories, there's no correspondence to a git repo there.

[2021-12-18 09:32] alexvanacker opened #144 "Add option to save on comment add/edit/delete"
If for some reason emacs is stopped (crash, or other) and you haven't saved, you risk losing your work in progress.

We could add an option to save your code review when you add/edit/delete comments. If this is validated, I'd love to contribute!

I don't have other solutions but open to ideas!

[2021-12-18 10:42] wandersoncferreira commented on #144
Hello @alexvanacker , right now we have `code-review-save-unfinished-review` that flags your current review as a "wip" in the database (and a `code-review-open-unfinished-review` too). However, I think things can be improved so let me explain a bit how the review is stored in the sqlite.

Every time you open the same PR in `code-review` a new Review is created in the database with a unique `uuid`

[2021-12-18 11:21] fuzzycode opened #145 "Strange headline indentation"
## What was wrong:
When collapsing a headline, the headline after it will be indented what look like one tab stop. When expanding the headline the indentation is removed again.

Not all headlines are affected but collapsing the description headline will cause the "Your Review Feedback" heading to be indented.

### Collapsed
<img width="490" alt="" src="https://user-images.githubusercontent.com/115

[2021-12-18 11:32] fuzzycode opened #146 "Support marking items as seen"
## Use-case
Similar to how github allows you to mark a file as seen while performing a code review to not have to go back and look at it again it would be nice to be able to mark a file or even a hunk as seen to not have to review it again.

This would especially be useful when reviewing large PRs with many changes where the review has to be done in multiple sessions, possibly over several days.

[2021-12-18 11:48] fuzzycode opened #147 "Support "New since last review" functionality"
## Use-case
Similar to how github shows what has changed since you last looked at a PR when revisiting it, it would be nice if code-review could highlight what has changed since you last looked at the PR.

## Functionality
It should be possible to know the time that the user opens the buffer or saves the review for future use. That time could be used to determine what is "new"n since last visit. I

[2021-12-18 12:27] wandersoncferreira commented on #145
Thanks for reporting @fuzzycode , are you reviewing a PR from GitHub or Gitlab?

[2021-12-18 12:29] fuzzycode commented on #145
It is a github PR that I am using for testing
https://github.com/fuzzycode/doom.d/pull/2

[2021-12-18 17:32] #145 closed

[2021-12-18 17:40] wandersoncferreira commented on #146
Great idea @fuzzycode ! I've been thinking in the following UX:

1. Create a new session above Files changed called "Files seen"
2. If you mark a hunk as "seen", we move the file with only that specific hunk to "Files seen" view
3. If you mark a file as "seen", we move the whole file to "Files seen"
4. Should be possible to move from Files seen to Files changed again

I believe this is possible to

[2021-12-18 18:58] fuzzycode opened #149 "Broken indentation"
#145 is partially solved but some glitches still remain.

Expanding/collapsing in the conversation section work as expected but contracting "Description" is still broken.

There is also an issue with expanding the Description when set up like in the picture. If Pressing TAB with point on the Description heading it will not expand and I get the error "_hs-grok-mode-type: Code Review Mode doesn’t su

[2021-12-18 19:20] wandersoncferreira commented on #149
could you verify with the latest commit? I tested on my side and things were good! thanks

[2021-12-18 19:22] fuzzycode commented on #146
Yes all those ideas sounds good to me.

For "Mark as seen" I can think of two different solutions.

### Alternative One:
Have 2 sections, something like "Seen" and "Not Seen" and it would work exactly like Staged/Unstaged works for Magit. You would move lines, hunks or whole files between the two groups using a single key and depending on what is selected it would do the right thing. Just like wit

[2021-12-18 19:27] fuzzycode commented on #149
Yes, the last fix solves all known issues with indentation and you can close this bug. Thanks for looking in to it!

[2021-12-18 19:28] #149 closed

[2021-12-18 19:38] wandersoncferreira commented on #146
Definitely the Alternative 1 Magit-like behavior is very nice. However, I perhaps this whole notion of "seen" and "not seen" should be in a different buffer? In Github we have these things in dedicated tabs.

[2021-12-18 19:39] fuzzycode opened #152 "Expanding headlines sometimes broken"
**Describe the bug**
Under some circumstances, TAB will not expand a collapsed heading.

**To Reproduce**
Steps to reproduce the behavior:
1. Collapse all headings
2. With Point on "Files Changed" press TAB
3. Go to one of the collapsed headings, **not** Commits
4. Press TAB, heading will most likely not expand

If you go to "Commits" and expand it, it appears to resolve the issue and expanding an

[2021-12-18 23:35] alexvanacker commented on #144
Hello @wandersoncferreira , love the idea, I'd be happy to work on this if that's ok with you and should have a pull request open in the week.

I'm guessing we would have to adapt the existing code since when loading a PR, we'd search for any code review in the database with matching host and pull request ID. I'm not sure about handling the existing data also. Maybe you have some inputs?

[2021-12-19 00:32] wandersoncferreira commented on #144
Great @alexvanacker , today I merged a PR that will help us a lot with this issue: the ability to perform database migrations of our sqlite. If you need to create new columns or something like that it's possible without much a problem.

I think we should search for `owner`, `repo-name`, `host`, and `number`. Take care that "repo-name" is built differently for gitlab PRs as shown here https://githu

[2021-12-19 00:34] wandersoncferreira commented on #144
Another idea about the existing code, I don't think users have any expectation to start/stop a review without calling the save/restore functions explicitly. Therefore the solution above for existing data should be good enough.

[2021-12-21 03:40] wandersoncferreira commented on #70
Basic bitbucket cloud integration was merged here https://github.com/wandersoncferreira/code-review/pull/156

[2021-12-21 03:40] #70 closed

[2021-12-21 12:34] Honeypot95 opened #158 "deferred errors when using `code-review-start` with bitbucket pull request."
**Describe the bug**
When trying `code-review-start`, the mini-buffers says `Fetch diff PR...`, and after it completes, it fails with `deferred error : (wrong-type-argument sequencep number-or-marker-p)`

**To Reproduce**
Install the package.
M-x code-review-start
bitbucket pull request as argument

**Expected behavior**
Some transient menu to open (I have never used the package before).

**Deskto

[2021-12-21 14:42] wandersoncferreira commented on #158
Thanks for reporting @Honeypot95 . Are you using `code-review` unpinned in Doom? Your Bitbucket is the Cloud version or Server? Could you check the `code-review-log-file`  path and see what was printed in the log file?

[2021-12-21 14:50] Honeypot95 commented on #158
Hi! my `code-review` is not unpinned in Doom, my Bitbucket is the Cloud version, and the contents of the `code-review-log-file` are:
[code]

Just to be sure, the Cloud version of Bitbucket is the one hosted by Bitbucket themselves, right?

[2021-12-21 15:30] wandersoncferreira commented on #158
Yes.

The log is unexpected to me, the following error. I just installed a clean default Doom to see this error:

[code]

Could you check using this URL `https://bitbucket.org/wcferreira/proj_fraldas/pull-requests/1` this is my public repo that I am using to test the integration.

[2021-12-21 20:15] Honeypot95 commented on #158
It seems to work with yours. Do you think it may be an authentication problem? How could I investigate further?

[2021-12-21 20:17] Honeypot95 commented on #158
I just tried another pull request from mine, and it seems to work. I think it fails when there is a very large pull request (the one that I tried first), which makes me think there may be a subtle bug somewhere. I will try to investigate further, but I don't have much elisp skill.

[2021-12-21 20:20] wandersoncferreira commented on #158
Interesting, I noticed some weird results coming back from Bitbucket APIs, for example if I provide `pagelen=300` to get the comments from a PR I receive an error, then `pagelen=100` makes everything work just fine. Computers :/

I will add more safe guard checks around the results of the Bitbucket API so we can make debug expeditions easier.

[2021-12-21 23:22] Stebalien commented on #152
Note: this usually happens when the point is at the beginning of the line. If the point is moved one to the right, it works just fine.

Context: I use evil. No idea if that's relevant.

[2021-12-22 00:03] wandersoncferreira commented on #152
I see an error with the Files changed section, the diff files should be under this section, so closing the Files changed section should collapse the modified files in this screenshot.

![Screen Shot 2021-12-21 at 9 02 57 PM](https://user-images.githubusercontent.com/17708295/147013005-1666e076-961b-4fd5-8377-58e5eb3836e2.png)

But I still could not reproduce the issue here, could you post a giff o

[2021-12-22 00:18] wandersoncferreira commented on #152
There is a gif in the #159 about the fix in Files Changed section. I don't think this is actually the root source of the issue here but would be great to have a gif like that one showing the problem.

[2021-12-22 08:23] askurihin commented on #97
@wandersoncferreira after I updated to the latest commit 79ae7fa `code-review-forge-pr-at-point` started working!
Thank you for the work!

[2021-12-22 10:08] wandersoncferreira commented on #97
@isamert could you confirm that latest commit fixed for you too?

[2021-12-22 14:40] isamert commented on #97
Just tried it out, it kinda works but it does not show any changes:

![image](https://user-images.githubusercontent.com/8031017/147108405-9e18345f-296e-46cb-bd43-cb52d2cab3c7.png)

For some PR's I get the following error:

[code]

This error seems to appear when I try to view an MR that already has some comments inside.

I'll try with `(setq code-review-log-raw-request-responses t)` when I find so

[2021-12-24 13:40] Honeypot95 opened #160 "Unknown backend obj created"
Hi, it's me again, I have another problem.

**Describe the bug**
When I try `code-review-start` with a bitbucket pull-request, it fails with the following message:
`Got an error from your VC provider. Check ‘code-review-log-file’.`

**To Reproduce**
Configure `code-review` correctly, then give a bitbucket pull-request to `code-review-start`

**Expected behavior**
The pull-request to open in `code-

[2021-12-27 09:22] thisch opened #161 "Use-package error: Symbol’s function definition is void: defgeneric"
https://github.com/wandersoncferreira/code-review/blob/79ae7fa56cc73c8732ab9bc2bb0013546829c0ed/code-review-section.el#L1111

This one should be replaced by cl-defgeneric, I guess

[2021-12-28 03:32] #161 closed

[2021-12-28 03:33] wandersoncferreira commented on #161
thanks for reporting @thisch

[2021-12-28 04:09] wandersoncferreira commented on #160
@Honeypot95 this error means the package was not able to identify your PR URL with any supported forge. Could you provide me a redacted version of the URL you are trying to call?

The bitbucket URL I have access to has the following pattern: `https://bitbucket.org/<<workspace_name>>/<<repo_name>>/pull-requests/<<pr_number>>`

are you using something similar?

[2021-12-28 11:49] Honeypot95 commented on #160
I get the same error message when I try the URL you gave me in the other github issue:
```https://bitbucket.org/wcferreira/proj_fraldas/pull-requests/1```

The commit I am on is `b0bedbdb30e019ed8c40fedf1087c3ad28e72c59`

[2021-12-28 14:20] wandersoncferreira commented on #160
This commit is very old (13 days), please try with latest `90f59935d394ec022cc78d16945b6dbd2fb8acfe`.

The bitbucket cloud support was merged 7 days ago.

[2021-12-30 20:31] wandersoncferreira opened #164 "After approve review some sections are not rendered"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Approve a PR
2. The commit and conversation sections are not rendered
3. Press G and everything is back to normal

**Expected behavior**

All previous sections should be visible.

[2021-12-30 20:31] wandersoncferreira opened #165 "Display the name of PR creator"
In the header add the name of the person who created the PR. Surprisingly this info does not show up anywhere.

[2022-01-03 01:13] wandersoncferreira commented on #164
Fixed by https://github.com/wandersoncferreira/code-review/pull/166

[2022-01-03 01:13] #164 closed

[2022-01-04 00:56] wandersoncferreira commented on #97
Ok, @isamert let me know if you have more information on your issue. I am closing this issue for now.

[2022-01-04 00:56] #97 closed

[2022-01-04 00:57] wandersoncferreira commented on #28
Seems like no further action should be done in this package. Feel free to open a new issue to improve the state of things for Evil users if a new idea pops up.

[2022-01-04 00:57] #28 closed

[2022-01-04 14:03] wandersoncferreira opened #170 "[Gitlab] - Set assignee"
Very similar to the work done https://github.com/wandersoncferreira/code-review/pull/169.

We need to make a GET assignable-users request and a PUT to edit the MR with the new chosen assignees.

[2022-01-04 14:04] wandersoncferreira opened #171 "[Gitlab] - Set milestone"
Very similar to the work done https://github.com/wandersoncferreira/code-review/pull/169.

We need to make a GET request to get available milestones and a PUT to edit the MR.

[2022-01-04 14:05] wandersoncferreira opened #172 "[Gitlab] Set PR title"
Very similar to the work done https://github.com/wandersoncferreira/code-review/pull/169.

We need to make a PUT request to edit the MR with the new title typed by the user.

[2022-01-04 14:06] wandersoncferreira opened #173 "[Gitlab] Set PR description body"
Very similar to the work done https://github.com/wandersoncferreira/code-review/pull/169.

We need to make a PUT request to edit the MR with the new description typed by the user.

[2022-01-04 14:26] dcaixinha opened #174 "Can't initialize with enterprise GitLab instance"
**Describe the bug**
Hey :wave: first of all, thanks for this great package :clap: I think it really is a game-changer!

I'm currently trying to set this up along with `forge` for an enterprise GitLab instance, but haven't been able to. Currently I already have forge set-up and working as follows:
[code]

I've set the relevant `code-review` variables as follows:
[code]

I've also tried without the

[2022-01-04 16:51] wandersoncferreira commented on #174
Thanks for reporting the issue @dcaixinha . The error `((error . "404 not found"))` happens when the wrong URL is provided to `ghub`. Let me ask you, what version of `code-review` are you using?

Also, would be possible for you to test this request using Postman so we are sure the resource exist in your enterprise instance?

`GET https://gitlab.com/api/v4/projects/32096702/merge_requests/1/changes

[2022-01-05 10:53] dcaixinha commented on #174
I think I've found the root-cause of the issue. When manually doing the request you described above, initially I got the same `404` error:
[code]
yields `{"error":"404 Not Found"}`. Then while reading [GitLab's API docs](https://docs.gitlab.com/ee/api/index.html#namespaced-path-encoding) I got to know that if a namespace has a `/` in it, we need to encode it as `%2F`. With that change, the request

[2022-01-05 12:09] #165 closed

[2022-01-05 12:41] wandersoncferreira commented on #174
Bingo!

In a previous PR we made changes to the code to understand unrestricted nested levels for your project's namespaces, but the change was done only to recognize the PR link with `code-review-start` and the function used to compute the ID of the project to make the requests still expects only 1 namespace and 1 repo-name https://github.com/wandersoncferreira/code-review/blob/4199e78c684f0c6a4d

[2022-01-05 12:55] wandersoncferreira commented on #174
@dcaixinha this should be fixed now. I was able to reproduce the error and test. Feel free to reopen the issue if not fixed.

Please test on the latest commit :)

[2022-01-05 12:57] wandersoncferreira commented on #174
BTW, for future reference, this is correct:

[code]

however if you also want to use `code-review-start` you should set this variable also:

[code]

The distinction here is that page links often have different host names than API layer. So the `base-url` is the host you will find in your browser when you visit the PR page.

[2022-01-06 13:15] sh-zam commented on #99
I have the exactly same problem with my instance. Setting labels, accepting PRs does work but submitting comments doesn't. I wonder if this has something to do with using a private gitlab instance?

[2022-01-06 13:37] wandersoncferreira opened #179 "Function to jump to next/previous comment"
To ease the navigation in the buffer a pair of functions to move forward/backwards in the diff comments will be very welcome.

[2022-01-06 13:42] wandersoncferreira opened #180 "Cursor movement when adding diff comments"
cursor should not be moving when adding a new diff comment

[2022-01-06 13:43] wandersoncferreira opened #181 "Send single diff comment `void section`"
`code-review-submit-single-diff-comment-at-point: Symbol’s value as variable is void: section [2 times]`

[2022-01-06 13:52] #181 closed

[2022-01-06 14:55] #180 closed

[2022-01-06 15:24] wandersoncferreira commented on #99
@sh-zam and @vlagorsse, the the `code-review-submit-comments` function is what you are looking for.

The `Github` workflow requires you to submit a Feedback MSG when you choose to `code-review-submit-comments` so you should be receiving this msg also. If you are using the transient menu (triggered by letter `r`) you can set a feedback by doing `s f` and then submit your comments.

For the `Gitlab`

[2022-01-06 15:33] wandersoncferreira commented on #99
Could you try the latest commit and provide some feedback on the current workflow? Thanks!

[2022-01-06 16:04] sh-zam commented on #99
Hi! I tested this (`code-review-submit-comments`), it still doesn't work :( The `*Messages*` buffer shows:

[code]

and this is where I've entered the comment https://imgur.com/h8ViWzU.png

[2022-01-06 16:12] wandersoncferreira commented on #99
Oh, I see. The feedback msg is being ignored! I was talking about diff comments.

I'll look at it in a moment, thanks for the picture it was worth thousand words :)

[2022-01-06 23:39] wandersoncferreira commented on #99
@sh-zam could you test with the latest commit? 4ccad8cb89ad38075a23023affbac1eb545a99ab

there was a bug fixed already. thanks for reporting

[2022-01-07 00:59] #172 closed

[2022-01-07 01:05] wandersoncferreira opened #186 "Add suggestion box"
Command to copy current line as a suggestion box in GitHub

[2022-01-07 02:11] #186 closed

[2022-01-07 03:15] #179 closed

[2022-01-07 04:38] codygman commented on #94
I'd also like to do this, and I'll take the integration even further and start up compilation.

So my ideal would be while reviewing a pull request to hit `RET` on some line, have it checked out locally, and have a repl or compilation buffer split to the right :wink:

I think the extra integration would be best implemented per user but we'd need a hook or something for running our function after `

[2022-01-07 06:10] ktfleming opened #189 "Github: Ability to review a PR without leaving a feedback message"
In the Github web UI, you can review a PR by adding various comments on particular changes, and then submitting the review (choosing the "comment" option) without writing a specific feedback message -- just leaving the comment text area blank.

In `code-review` though, trying to submit the review (via `r c`) without feedback results in the error "You must provide a feedback msg before submit your

[2022-01-07 08:06] sh-zam commented on #99
The feature works now! Here's the screenshot of emacs:
![image](https://user-images.githubusercontent.com/32485569/148511462-594e1821-c17f-4362-945a-658e93b471ee.png)

and the screenshot of gitlab:

![image](https://user-images.githubusercontent.com/32485569/148511538-3419c02f-6ee9-4082-b835-4c7bd9761da0.png)

I have a couple of questions, if you may. Is there a way to comment on a thread, which i

[2022-01-07 11:27] ktfleming commented on #189
Trying this locally, changing `code-review--submit-feedback-required?`:

[code]

seems to make the feedback-less review work for Github, perhaps that's all that's needed?

[2022-01-07 11:45] wandersoncferreira commented on #189
Yes @ktfleming , this is all needed. Could you open a PR with this change?

I already tackled this issue some time ago and I remember that only the APPROVE option was possible to send without a feedback message. But I tried again today and you are right. I might be sleeping :/

Thanks for looking into it.

[2022-01-07 11:50] wandersoncferreira commented on #99
Not right now, can you open a ticket with a feature request to include this option? I know that Gitlab REST API has methods to do so, but they are not implemented yet.

Same as above, in the Gitlab API we have a distinction between a Note and a Discussion, right now only Discussions are created. Can you open an issue for this as well?

Gitlab has only basic workflow supported as I am not a regular

[2022-01-07 12:27] ktfleming commented on #189
Sure, I’ll open a PR soon when I’m back at my PC!

On Fri, Jan 7, 2022 at 20:45 bartuka ***@***.***> wrote:

[2022-01-07 13:00] ktfleming commented on #189
Created: https://github.com/wandersoncferreira/code-review/pull/190

[2022-01-07 13:55] #189 closed

[2022-01-07 15:01] sh-zam opened #191 "[gitlab] Ability to comment on threads which are not associated with diff hunks"
Currently for gitlab it is not possible to comment on those using _this_ package.

For example you can't continue a thread (`test comment #2`) inside emacs, as mentioned in https://github.com/wandersoncferreira/code-review/issues/99#issuecomment-1007213539

![image](https://user-images.githubusercontent.com/32485569/148561955-7c87c626-6aa6-46de-a8db-1dbaf64f2190.png)

[2022-01-07 15:10] sh-zam opened #192 "[gitlab] Ability to create a standard comment on merge requests"
Currently each new comment starts a thread on gitlab (https://docs.gitlab.com/ee/user/discussions/), which has to be necessarily resolved by the user to be able to merge a merge request. This can be a bit of an annoyance to the author of the merge request.

Example:

Comment (no resolve button):
![image](https://user-images.githubusercontent.com/32485569/148563581-5c6b066e-18fe-47c1-abc9-cd0ba3124

[2022-01-07 15:52] wandersoncferreira commented on #99
Thanks for creating the issues @sh-zam , I am closing this issue for now.

[2022-01-07 15:52] #99 closed

[2022-01-09 05:27] ktfleming opened #193 "[Github] Freeze when trying to review a PR that includes an image"
When I tried to use `code-review` to open/view my recent PR to this repo, https://github.com/wandersoncferreira/code-review/pull/190, it froze on the "Fetch Diff PR" step and I had to kill Emacs. Trying to review a few other PRs in this repo works fine. I found another PR in a different repo that also freezes: https://github.com/doomemacs/themes/pull/695

Both the PRs that freeze include an image

[2022-01-14 02:20] abaransy opened #194 "Cannot react to a comment that is associated with requested changes (404 not found)"
**Describe the bug**
Attempts to react to a conversation comment that is associated with requested changes fail, resulting in a 404 response with a "Not Found" message.

**To Reproduce**
Steps to reproduce the behavior:
Start a review, try to react to a conversation comment that is associated with requested changes.

**Expected behavior**
Users should be able to react to conversations without this

[2022-01-14 03:35] abaransy commented on #194
Closing as Im realizing this issue is unrelated to this package. I tried to make a POST request to update a PR comment and it still failed.

[2022-01-14 03:35] #194 closed

[2022-01-14 07:18] abaransy commented on #141
@fuzzycode are you working on this?

[2022-01-16 09:18] fuzzycode commented on #141
Hi @abaransy I am not going to work on this. Swamped with life atm. :-)

[2022-01-21 08:39] ipocentro87 opened #195 "Fetch PR on gitlab throws "deferrer error : (wrong-type-argument sequencep number-or-marker-p)""
**Describe the bug**
Hi all, I am on a company gitlab account (gitlab.companyname.com) and I am having some issues in fetching a PR. when I am on a pull request and run `code-review-forge-pr-at-point` I get the following message:

[code]

Do you have an idea how to debug it? Thank you in advance

**To Reproduce**
Run `code-review-forge-pr-at-point` on a pull request line in magit-status

**Desktop

[2022-01-23 12:00] wandersoncferreira commented on #195
Hello @ipocentro87 , could you check if you set the variables correctly as proposed here https://github.com/wandersoncferreira/code-review/issues/174#issuecomment-1005663842?

Also you could check the `code-review-log-file` that usually is located in your `.emacs.d`  or if you use Doom Emacs it might be inside the `.emacs.d/.local` folder.

[2022-01-23 12:11] wandersoncferreira commented on #193
@ktfleming I couldn't reproduce this issue. I can open both PRs you linked without any issue. The current version at master is using HTML to render the comments and description with support to rendering the images.

![Screen Shot 2022-01-23 at 9 08 45 AM](https://user-images.githubusercontent.com/17708295/150677652-4f105dd2-8cdb-4ff9-bff7-4532a0859ce0.png)

[2022-01-31 18:10] jeffjewiss opened #196 "Hangs while fetching diff PR"
Code review works great on most PRs for me. When I try to open code review on a PR from GitHub with changes to a `package.json` and/or `package-lock.json` (eg. created by dependabot) Emacs hangs with the message from code review "Fetching diff PR...80%".

Emacs never recovers from this state and I need to force quit it.

I can open a PR that has changes to a `package-lock.json` in magit and see th

[2022-02-02 17:02] ipocentro87 commented on #195
Hi @wandersoncferreira, sorry for my late reply.
I think that variables are properly set, as I am actually able to retrieve merge requests on some topics, but for some reason it doesn't work on others.
I just have the `code-review-error.log` file in my `.emacs.d`. Unfortunately the only message I get is this one:
[code]
Do I need to set a variable in order to increase verbosity?

[2022-02-03 17:28] ashton314 commented on #196
I've got the same problem, only no `package-lock.json` file for me. Just an Elixir project. Might not be the files.

[2022-02-03 23:20] rschmukler opened #197 "`magit-section-toggle` inconsistent when looking at file diffs"
**Describe the bug**
When using `magit-section-toggle` on a header under the files changed section, behavior can be inconsistent. Sometimes nothing happens (but then works if you run `magit-section-toggle` again), other times the wrong section toggles, or content expands above the active section. Sometimes subsections are not hidden. It seems like there could be an index error.

**To Reproduce**
V

[2022-02-03 23:35] rschmukler commented on #197
Upon further digging this may be a duplicate of #152

[2022-02-14 16:06] ashton314 commented on #196
Update: I've noticed this only happens when I try and open the PR from the magit buffer; if I open the specific PR with forge and *then* try opening the code-review, it works just fine.

[2022-02-15 12:44] isamert commented on #97
Just to close the loop, it's been working quite fine for a while. I did upgrade some stuff after the error I mentioned and the issue just went away.

[2022-02-18 00:59] Eirikantonsen commented on #196
I have the same problem here, and this does not work for me. Always stuck fetching diff at 80%,
even when just calling `code-review-start` directly.

[2022-02-24 00:51] wandersoncferreira commented on #196
Thanks for the bug report, could you provide a public PR that we can reproduce this error?

[2022-02-24 01:02] wandersoncferreira commented on #195
@ipocentro87 you can set `(setq code-review-log-raw-request-responses t)`. This will log all raw API calls into the log file. This is a good next point for us to move forward in the debug process here.

[2022-02-24 09:00] logc opened #199 "[github enterprise] "Files changed" shows an HTML login page"
**Describe the bug**
"Review pull request" from Magit status buffer on any PR. The PR buffer opens, and general information is correct, but the "Files changed" part always shows an HTML page; if rendered in a browser, it asks for a login using LDAP. But authentication should have worked correctly using the token, otherwise the PR would not have been shown by Forge or downloaded by Code-review.

**

[2022-03-01 02:27] jakejx commented on #28
Just wanted to add that I required this additional line for keybindings to work properly:
[code]

[2022-03-01 06:45] leeqx opened #200 "use code-review-start "Could not identify the PR""
**Describe the bug**
when i use code-review-start for gitlab occurs:

Could not identify the PR with the given URL: https://gitlab.me.com/xxx/nginx/merge_requests/1

[2022-03-03 03:19] necaris commented on #196
@wandersoncferreira I'm running into the same issue, and can reproduce it with a somewhat-artificial PR at https://github.com/necaris/pyright/pull/6 . It hangs _sometimes_ -- it seems to be related to some sort of caching or incremental storage, as retrying it works eventually.

[2022-03-04 22:13] luskwater commented on #199
I have the same (or similar) result, also with Github Enterprise.
In the returned errors, I have
[code]

Now, if in `code-review--build-buffer` I avoid using the `code-review-github-graphql-complete` query by replacing
[code]

with
[code]

so that it uses `code-review-github-graphql-fallback`, then I don't get the `checkSuite`/`workflowRun` errors (or any errors) in `code-review-errors.log`, but I

[2022-03-04 22:58] mplanchard opened #201 "Integration with delta for syntax highlighting"
**Is your feature request related to a problem? Please describe.**
It can be difficult to parse huge diffs without syntax highlighting

**Describe the solution you'd like**
Integration with delta in order to get syntax-highlighted diffs, like [magit-delta](https://github.com/dandavison/magit-delta) does, would be awesome.

**Describe alternatives you've considered**
I don't know of any other ways

[2022-03-05 21:29] necaris commented on #196
Note that one of the things I've noticed, which is likely a contributing factor, is that my Mac's Homebrew Cask installation of `emacs-mac` does **not** have `jansson` or `libxml2` built with it. Since GitHub's GraphQL API uses JSON heavily, and the Dependabot posts are _full_ of HTML, those might help substantially.

[2022-03-07 18:27] luskwater commented on #199
More from my somewhat misdirected notes above. The _Github Enterprise_ REST API does not seem to accept an `Authorization: token 0123456789ABCDE...` header using a personal access token. _GraphQL_ requests work fine, but I am unable to fetch the diffs. I've tried using `curl`:
[code]
I still get the HTML for our login page.

If there's something here I'm missing, let me know, please.

[2022-03-08 20:45] agzam commented on #28
@jakejx That's interesting. Can you please tell what exactly does this fix? I've been using the package in Doom (but not via the official module, I have a custom one) and never seem to have any issues. Maybe I've been missing something? Thank you.

[2022-03-09 14:51] luskwater commented on #199
Just for laughs: I just viewed this issue _in_ `magit`/`forge`/`code-review`, and was concerned that I ran into the login problem, even on `github`: how could it prompt me for an enterprise login?

Then I realized I was looking at the problem-description provided by @logc with its HTML output. Whew!

[2022-03-09 16:48] logc commented on #199
@luskwater : sorry, I missed your previous message about having found a solution. I just tried, and can confirm that it works!  Thank you so much! :smile:

Maybe you want to update [this package's docs for configuring Github Enterprise](https://github.com/wandersoncferreira/code-review/blob/master/docs/github.md)? I did that when I found out how to make it work for me ...

[2022-03-10 02:12] wandersoncferreira commented on #199
Would be great to have a PR to add more documentation on this issue. Thanks for digging into it.

[2022-03-12 03:25] necaris commented on #196
@jeffjewiss @ashton314 can you both confirm if you're on macOS and using `emacs-mac` from Homebrew? I think I've managed to track my crash down to issues with `WKWebView` when rendering the code review HTML -- see https://stackoverflow.com/questions/71277105/macos-app-crash-on-wkwebview-with-exc-breakpoint-on-m1

[2022-03-12 03:28] necaris commented on #196
This might be the same as #193

[2022-03-14 12:52] muej commented on #48
Hi, is implementing support for self-hosted Gitlab worth another ticket? Wanted to try this package out, but it tries to use `gitlab.com/api`, which of course fails. Probably the `APIHOST` is not taken from the `forge-alist`, when calling `code-review-forge-pr-at-point`.

[2022-03-18 04:42] isker commented on #195
@wandersoncferreira I have the same problem.  I set `code-review-log-raw-request-responses` and see the data for my PR in the log, just before this error is printed.  Here it is (pretty printed), though I had to redact a bunch of the contents.  Hopefully the structure is enough to go on...

[code]

[2022-03-22 21:36] mplanchard opened #204 "Reply comments lost when submitting with regular comments"
**Describe the bug**
When submitting a review (on GitHub) with both regular comments and reply comments, an error is thrown and the reply comments are lost (they do not show up on GitHub, and they disappear from the `code-review` interface).

The error is:

[code]

**To Reproduce**
1. Start a code review on which there are already some comments
2. Add some comments with `code-review-comment-add-or

[2022-03-22 21:49] wandersoncferreira commented on #199
I'm closing this issue. Thank you @luskwater  for all your efforts here.

[2022-03-22 21:49] #199 closed

[2022-03-24 09:22] hjudt commented on #48
+1

[2022-03-24 11:55] wandersoncferreira commented on #48
Self-hosted Gitlab is supported if you change the values of a couple of variables as stated here https://github.com/wandersoncferreira/code-review/blob/master/docs/gitlab.md. I don't have access to such instances but we've received very valuable contributions from users about how to configure Github Enterprise, this might be analogous to Gitlab https://github.com/wandersoncferreira/code-review/blo

[2022-03-24 22:24] emacsbliss opened #205 "can't add comment to PR"
**Describe the bug**
Got error:
[code]
when trying to add single comment to PR

**To Reproduce**
Steps to reproduce the behavior:
1. ~M-x code-review-start~, enter PR url
2. in *Code Review* buffer, press ~r~ then ~s c~
3. in the *Code Review Comment* buffer, typed comment, press ~C-c C-c~ got error:

**Expected behavior**
A comment should be sent to the PR

**Screenshots**
If applicable, add scre

[2022-03-24 22:28] emacsbliss opened #206 "use org-mode instead of markdown for comment edit buffer"
**Is your feature request related to a problem? Please describe.**
As Emacs user, I always prefer use org mode whenever possible. I feel it makes sense to use org-mode for comment edit buffer and upon press C-c C-c, we convert it to gfh-md by utilizing the ox functionality, that would give a better user experience in my view..

[2022-03-25 22:18] hjudt commented on #48
Thanks for your answer and your instructions, I will try them as soon as I get to it.

It would be great not having to do an extra configuration for code-review when I have already configured magit forge to talk to the forge api. Because this means I now need (more or less duplicate) entries in my .authinfo.gpg for each hosted gitlab instance that I want to use code-review with, and then - as stat

[2022-03-25 22:21] hjudt commented on #48
Also note that magit forge somehow gets the correct api url from the cloned repository, so it seems this can be determined automatically.

[2022-03-25 22:36] hjudt commented on #48
If I try to set the code-review-gitlab-* urls accordingly, I then get asked to enter an api user for
gitlab.gitlab.some.domain (that is, an additional "gitlab" gets prepended to what I set for the hosts).
It prompts:

So it seems to use a wrong url despite me setting the correct one(s).

[2022-03-25 22:40] hjudt commented on #48
However, when I enter that user, and do that another two or three times, it finally lets me proceed. Probably only the prompt was weird/wrong.

[2022-03-31 21:17] Vivien-lelouette commented on #72
I got the exact same issue. Have you found a fix for this ?

[2022-04-03 16:20] innerout opened #208 "code-review does not respect code-review-gitlab-base-url"
**Describe the bug**
code-review does not respect when the below variables are set. This seems to apply to github and gitlab custom instances as discovered by @gagbo in the doom emacs discord.
[code]

**To Reproduce**
Steps to reproduce the behavior:
Add this in your init.el
[code]
1. Go to magit-status
2. Open a MR that is yet to be merged.
3. Execute `code-review-forge-pr-at-point`
4. See the er

[2022-04-04 20:32] hjudt commented on #208
This might just be a cosmetic issue, see issue #48. Just be stubborn and proceed; I had to enter a user and confirm "set globally" three times. See the linked issue.

[2022-04-04 20:36] hjudt commented on #48
Ok, I have been able to "check out" the merge request and can see the comments of other users. I am a bit unsure how to work with this. I could reply to a comment, and first it seemed to add a "local" comment (r s f) which I could not find out how to commit, then I just tried "r c" (Review->Comment) which then seemed to appear as a "New Thread" and is also visible in gitlab. The other one ("Your R

[2022-04-04 20:38] hjudt commented on #48
When I tried "Fast track"->"Submit Replies", it first told me this is not supported for gitlab, and when I tried it again, nothing happened anymore.

[2022-04-04 20:42] hjudt commented on #48
Also, I have pushed changes to the branch/MR and now code-review shows me the changed diffs, while gitlab shows me the old version (+ the annotation that I have pushed a new version together with the diff to the old version). I guess that is supposed to be that way, but I am a bit confused about the statement in the code-review README.md "View outdated comments with the right diff hunk context", w

[2022-04-04 20:45] hjudt commented on #48
I have now executed the function "code-review-submit-comments" again (without doing an additional reply), and it created a new thread on gitlab with the comment "false". I suspect this should not happen.

[2022-04-04 20:48] hjudt commented on #48
I have then edited the MR on gitlab, deleting the "New thread" comment and added the text as a proper reply to the original comment from the other reviewer. Then, after fully reloading the code-review buffer, the "Your Review Feedback" is finally empty again ("Leave a comment here"), and all other messages appear as on gitlab.

So far for my excursion.

[2022-04-04 21:00] innerout commented on #208
Thanks! I missed the issue you mentioned. The behavior you describe seems like mine, still having unexpected behavior makes the package counterintuitive to use. I believe if the package uses the variables mentioned in my first post, things will work as expected as in magit-forge.

[2022-04-05 09:52] hjudt commented on #48
@wandersoncferreira
I intend to improve this and make code-review support forge configuration, so the transition between forge and code-review is more smooth. I wonder what is the preferred way to do this?

For a start, I have created a new custom option so that the user can configure which logins code-review looks for. The user can set it to 'code-review (the default and what is being used at the

[2022-04-06 08:59] Bounga commented on #195
Same error here, only on some PRs. The one that is causing issues is pretty large, there are a lot of changes.

Let me know if I can help in some way by providing more info (this PR contains a lot of private stuff, so if you need the generated structure I prefer to send it privately)

[2022-04-06 18:16] falloutphil opened #209 "Support for Bitbucket Server?"
Hi,

Neat package!  It looks from MELPA like you currently only support Bitbucket Cloud:
  code-review        20220328.108  available  melpa      Perform code review from Github, Gitlab, and Bitbucket Cloud

Any plans to support code-reviews on the Bitbucket Server product (the API is quite different, alas)?

Thanks,
Phil.

[2022-04-08 15:55] jhelwig commented on #196
@necaris I'm also running into this on an M1 MacBook Pro, using Emacs 28 from https://github.com/d12frosted/homebrew-emacs-plus/

[2022-04-09 20:30] necaris commented on #196
I've run into it while using `emacs-plus` as well -- in both cases the stacktrace led right back to `WKWebView` :-( it looks as if this is the same issue as #193 ultimately.

[2022-04-20 14:10] valer-cara opened #210 "Code review submit fails if commits force-pushed to PR: "Start commit oid is not part of the pull request""
**Describe the bug**
Force pushing commits in a PR causes an already open code-review to fail when submitting:
`Start commit oid is not part of the pull request`

**To Reproduce**
Steps to reproduce the behavior:
1. Start reviewing a PR: `code-review-start`
2. Force push a commit in the PR
3. Submit the review: `code-review-submit-approve`
4. Notice the bug. Submitting the review has failed with a

[2022-04-28 08:56] okybr commented on #205
I experience the same issue - I get the respective error messages in each of the two cases. How can I help trace the cause?

[2022-04-28 09:00] klochowicz commented on #205
same issue here. Can reproduce on a public repo if needed, happy to join debugging efforts.

[2022-05-03 02:23] wandersoncferreira commented on #48
I'm still thinking about this. The reason we have separate options is due to a recommendation made by the `ghub` package used under the hood to make the requests to github, gitlab, and others...

I'm sold on the idea that I should have relied more on `forge` for the very beginning and considered it as a highly coupled dependency. Seems unlikely to forge to take any direction that will not be follo

[2022-05-03 06:06] hjudt opened #211 "Use forge passwords"
I am opening this issue as requested in https://github.com/wandersoncferreira/code-review/issues/48#issuecomment-1115552880

Instead of having to configure separate passwords (e.g. in  ~/.authinfo.gpg), code-review should be able to use an existing forge configuration to avoid duplicate work for the user. See https://github.com/wandersoncferreira/code-review/issues/48#issuecomment-1088499842 for p

[2022-05-03 06:06] hjudt commented on #48
Done, see https://github.com/wandersoncferreira/code-review/issues/211

[2022-05-20 21:08] WammKD opened #214 "[[Feature]] In Addition to code-review-start and code-review-forge-pr-at-point, Function to get a list of PRs"
**Is your feature request related to a problem? Please describe.**
While Code Review easily allows for pulling up a PR from a URL or via Forge, it's not possible to access the list of PRs with Forge for BitBucket which means having to grab the URL of the PR, every time (at which point…why not just use the browser?).

**Describe the solution you'd like**
Like the two mentioned functions, something

[2022-06-09 21:59] darth10 opened #215 "Usage with shrface"
**Is your feature request related to a problem? Please describe.**
I would like to use code-review with [`shrface`](https://github.com/chenyanming/shrface).

**Describe the solution you'd like**
Documentation on usage with `shrface`.

**Describe alternatives you've considered**
I've tried customising `shr`, but would like to use faces defined in `shrface`.

**Additional context**
I really enjoy us

[2022-06-16 08:31] RagnarGrootKoerkamp opened #216 "Github review comments are on wrong line"
First, thanks for this project! It looks very promising!

**Describe the bug**
When making comments/suggestions on a PR, sometimes they end up on the wrong line.

**To Reproduce**
A simple reproduction I tried worked correctly, but comments on a larger PR sometimes end up on the wrong line. see below.

**Expected behavior**
A comment/suggestion made on a line in emacs ends up on (just below) the s

[2022-06-16 09:18] RagnarGrootKoerkamp commented on #140
If the branch being reviewed is currently checked out (to the same commit), it would be natural (to me) to apply the suggestions to the working tree instead, and let user commit them manually.

[2022-06-28 15:15] kaue commented on #136
yes, this would be useful for code suggestions aswell!
currently i feel like i cant really use code suggestions without the ability to select a region to be replaced by the suggestion.

[2022-06-28 20:52] shroomist commented on #136
https://docs.github.com/en/rest/pulls/comments#create-a-review-comment-for-a-pull-request
it is `start_line` and simply `line` for the end. also would require `start_side` to function.

https://gitlab.com/gitlab-org/gitlab/-/blob/master/doc/api/discussions.md#parameters-for-multiline-comments
also seems to support the line range.

[2022-06-29 00:36] wandersoncferreira commented on #216
I'm investigating this issue at the moment. I need to understand a bit better how `magit-section` works when the section is hidden. This seems the root cause of issues related to comments positioning and also some issues with inconsistent behavior when we hide sections via `TAB`

[2022-06-29 12:43] wandersoncferreira commented on #214
@WammKD have you tried to use M-x `forge-list-pullreqs` and then use M-x `code-review-forge-pr-at-point`?

I'm not an active user of Bitbucket, but the forge list prs does not work in it?

[2022-06-29 13:57] RagnarGrootKoerkamp commented on #216
Hmm, no. All the comments were either made in the `files changed` github tab, or in emacs.

The ones made on github work fine and end up on the right lines.

The issue seems to be that `code-review` passes a wrong line number to github when first pushing the comments.

[2022-06-30 11:46] wandersoncferreira commented on #216
Got it, thanks.

Yes, but the wrong line number might be computed due to mis-interpretation of either other comments fetched from Github above the line your are working on or outdated sections. The way to handle outdated comments and threads is not good in anyway right now.

Specially because we need to place it in the diff hunk section which is very complicated. I'm considering moving all the out

[2022-06-30 12:01] RagnarGrootKoerkamp commented on #216
Right, makes sense.

Sure, go ahead.

Hmm. If by outdated you mean 'relating to a line of code that was since changed', yes, that sounds fine.
(If you mean 'any comment not on the most recent commit', I would disagree.)

My biggest complaint with Github reviewing is that it's somewhat hard to find old/outdated comments.
Ideally (long term), it would be possible to select a range of commits and sho

[2022-07-22 16:20] Andre0991 opened #219 "Start review could be async"
Hi!

First, thanks for the package, it looks great.

I used `code-review-start` and inserted a PR name (it's from an enterprise repo, so I can't share it, sorry). Then, I saw the "Fetching diff" message, but Emacs got stuck. I ended up having to force quit Emacs.

I'm wondering if that command was doing some sync operation and, if it's the case, if it would be implemented in a non-blocking way, su

[2022-07-22 16:21] Andre0991 commented on #219
By the way, I think I can repro it consistently, at least with the current state of the PR.
![image](https://user-images.githubusercontent.com/7083061/180481960-4692abc1-48ba-4e63-b3f2-b8c89024c94d.png)

Let me know what info I can send you for helping debugging that.

[2022-07-29 15:25] Andre0991 commented on #219
I just realized that this is a dup of https://github.com/wandersoncferreira/code-review/issues/193. Closing this.

[2022-07-29 15:25] #219 closed

[2022-08-08 07:09] thermopyle opened #220 "code-review-forge-pr-at-point fails after update"
**Describe the bug**
I updated all Emacs packages today with `auto-package-update`, among the updated packages where `magit`. After the update I cannot any longer open a code review by placing point on a PR in magit forge's section "Pull requests awaiting review" and doing `code-review-forge-pr-at-point`. Doing so results in an error message.

**To Reproduce**
Steps to reproduce the behavior:
1. U

[2022-08-08 07:14] thermopyle commented on #220
A complete reinstall of the code-review package seems to fix the problem. I've got it working now.

[2022-08-08 07:19] rolandtritsch opened #221 "Feature-Request: Close a PR without merging it"
I noticed that in the actions menu you can only merge the PR, but not close it (with a comment) without merging it.

Would suggest to add that option (in the Review section).

![image](https://user-images.githubusercontent.com/671381/183361509-2dd682b8-1510-4c25-ba4c-e77179b88ef7.png)

[2022-08-26 13:44] draxil commented on #88
Alternatively it'd be nice to just be able to jump to a buffer with the full file?

[2022-08-26 19:32] johnhamelink commented on #88
@draxil if I'm not mistaken you can already do this by hitting return with point on the diff of the file you want to jump to.

[2022-09-07 13:33] saolaolsson commented on #158
That limit is documented (currently) under "Paginated Pull Request Comment" at
[](https://developer.atlassian.com/cloud/bitbucket/rest/api-group-pullrequests/#api-repositories-workspace-repo-slug-pullrequests-pull-request-id-comments-get)

[2022-09-07 13:37] saolaolsson commented on #158
Not exactly the same error message but I get
`Wed Sep  7 15:26:50 2022 - code-review--build-buffer - (wrong-type-argument listp wrong-type-argument)` in the log file when trying to open the test repo PR mentioned above (and the same for other repos I've tested) with package version 20220629.1215.

[2022-09-11 23:49] anonimitoraf opened #222 "Error: `(wrong-type-argument sequencep listp)` on `code-review-start`"
Hi, I'm really keen on using this package for my day job workflow. For context, I'm intending to use `code-review` on a github-hosted private repo (not enterprise)

**Describe the bug**
On `code-review-start`, I get this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up (as per README) for github
2. M-x `code-review-start`
3. See error
4. I've tried turning on `debug-on-er

[2022-09-21 07:04] thermopyle opened #223 "Code review fails to open"
**Describe the bug**
When I either use `code-review-forge-pr-at-point` or `code-review-start` this fails with an error message;

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run code-review-start with an URL to the PR.
2. See error

**Expected behavior**
PR should open in the code review editor.

**Desktop (please complete the following information):**
 - OS: MacOS 12.6 Monterey.

[2022-09-23 08:15] thermopyle commented on #223
After update of a number of different packages, it now works again.

[2022-09-23 08:15] #223 closed

[2022-10-13 11:39] thermopyle opened #225 "Cannot add reviewers to existing review on GitHub"
**Describe the bug**
If I select `'r s r' `in an open GitHub review to request reviewers for the review, I cannot input anything at the prompt `"Request review:"`. No matter what I input (email adress, GitHub username, with or without @ prefix), requesting a review fails with the error message `"string-trim-right: Wrong type argument: stringp, nil"`. Pressing `<TAB>` in the input field also does n

[2022-10-17 07:59] thermopyle opened #226 "deferred error : (wrong-type-argument listp 7) when opening code review"
**Describe the bug**
When I try to open a code review, I get `deferred error : (wrong-type-argument listp 7)` and the code review won't open.

**To Reproduce**
Steps to reproduce the behavior:
1. Do `code-review-forge-pr-at-point` at a PR in magit
2. Error: `(wrong-type-argument listp 7)`

**Expected behavior**
The code review should open in a new editor

**Desktop (please complete the following i

[2022-10-17 11:20] n0amso1 commented on #226
Do you experience this on all code reviews or specific ones?
If the latter, can you link a sample PR that reproduces it?

I've experienced something similar before and considered trying fixing it,
so if I get the chance eventually I'd like to make sure that this one gets
resolved as well.

Thanks!

[2022-10-18 02:11] b40yd commented on #195
same error

[2022-10-18 07:58] thermopyle commented on #226
This happens with all PR's, I cannot open any of them. They're from GitHub, I might add. This started happening this week, I cannot say exactly when, but last week I review a number of PR's using code-review. I update Emacs every Monday, I think something happened in the update.

[2022-10-18 09:38] thermopyle commented on #226
I completely removed all magit-*, forge and code-review packages and installed them again, it did not help.

[2022-10-19 14:06] #220 closed

[2022-10-19 23:09] rlister commented on #226
I can recreate with PRs from this repo.

[code]

From messages:

[code]

From `code-review-log-file`:

[code]

[2022-10-21 14:19] jkdufair opened #227 "wrong-type-argument sequencep #<subr code-review-section--magit-diff-insert-file-section>"
Pretty psyched to try out this package! Thanks for taking a look a this.

**Describe the bug**
Error executing `code-review-start`

**To Reproduce**
Steps to reproduce the behavior:
`code-review start` then provide any GitLab URL

Tried setting `debug-on-error` to `t`, to no avail

**Expected behavior**
See a code review buffer

**Screenshots**
Attempt #1:
`*messages*`
Fetch diff PR...60%
deferred

[2022-10-30 00:30] matasar commented on #227
Looks like the signature changed for that function, which code-review advises. I can make this work again by doing:

[code]

[2022-10-30 00:37] matasar commented on #227
Just filed #228

[2022-11-04 13:09] beem812 commented on #226
I'm also getting this error for what it's worth

[2022-11-05 17:08] short-king commented on #205
Getting this too. Has anyone had it work in some cases but not others? Example repos where it does and does not work would be helpful.

[2022-11-06 19:54] abbreviatedman opened #229 "QUESTION: where should point be to make single top-level comment?"
(And should documentation for this be added or made more discoverable?)

## What I Did

Attempt to create and submit a single top-level comment using

1. `M-x code-review-submit-single-top-level-comment` (or `s c` in the transient menu).
2. Write a comment.
3. Submit the comment with `C-c C-c`(`code-review-comment-commit`).

## What Did I Expect To Have Happen?

A single comment is created in the

[2022-11-10 14:52] dschrempf commented on #226
For reference: https://github.com/wandersoncferreira/code-review/issues/227

[2022-11-11 12:14] wandersoncferreira commented on #227
Merged, thanks @matasar

[2022-11-11 12:14] #227 closed

[2022-11-11 21:04] rlister commented on #226
Fixed for me, thank you :+1:

[2022-11-11 22:02] #226 closed

[2022-11-11 22:03] wandersoncferreira commented on #226
Reopen if issue persist please. Thank you for your patiences.

[2022-11-20 17:04] vibrys commented on #222
thank you for package.
unfortunately the same here.

[2022-11-20 21:22] vibrys commented on #222
more light (deferred:default-cancel does get improper number of arguments?):

[code]

@gjnoonan, @anonimitoraf, please visit deferred:debug variable definition, change it to t, make sure deferred.elc has been recompiled. restart emacs and observe *deferred-debug* buffer

@wandersoncferreira, can I enlarge limit of diffs size somehow (as a workaround..)

regards,
Vibrys

[2022-11-26 17:34] AustinMooreT opened #232 "Support HTTP private instances"
My private gitlab instance uses http not https. There are two main issues I run into when trying to get code-review start to work.

- Firstly, functions like ghub-request look at a variable ghub-insecure-hosts to override https and use http instead. To fix that I just had to set that variable. I think I can just update the documentation to make that clear for others.
- Secondly, code-review-utils-

[2022-11-29 19:05] sochotnicky commented on #195
I was hitting the same issue and with some initial debug logging I narrowed it down to:
https://github.com/wandersoncferreira/code-review/blob/master/code-review-section.el#L1723

I am going to play around a bit more and see if I can dig up the problem. Otherwise I can confirm - code review works with some gitlab MRs but not others.

[2022-11-29 19:24] sochotnicky commented on #195
OK, I had a guess so I tested it and I think I can reproduce by creating a commit that just moves a file around without making any changes so the diff string is empty.

Maybe that will help find a fix